!!! 5

html

  head

    title Ball Pool

    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    meta(name="viewport",content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    //- pack :: script(src="/js/libs.js")
    //- pack :: use js cdn instead
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.1/backbone-min.js")

    //-script(src="/js/lib/protoclass.js")
    //-script(src="/js/lib/box2d.js")
    //-script(src="/js/bub.js")
    script(src="/js/bub.js")
    :less
      .tag_icon(@x:0, @y:0) {
        background: url(../img/tag_bg.png) no-repeat;
        background-position: @x @y;
        display: block;
      }
      body {
        overflow: hidden;
        background-color: #d9d9d9;
        font-family: arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
      }
      .ball {
        position: absolute;
        text-align: center;
        font-size: 75%;
        div {
          position: absolute;
          font-weight: bold;
        }
        .bub {
          cursor: pointer;
          color: #999;
        }
        .bub:hover {
          //- font-size: 120%;
          color: #fff;
        }

        .shadow {
          left: -30px;
          top: -30px;
        }

        span {
          text-decoration: none;
        }
        a {
          color: #fff;
          text-decoration: none;
        }
        a:hover {
          font-size: 120%;
        }

        .s48 {
          width: 48px;
          height: 48px;
          line-height: 48px;
          .tag_icon(0px, 0px);
        }
        .s64 {
          width: 64px;
          height: 64px;
          line-height: 64px;
          .tag_icon(0px, -240px);
        }

        .iscurrent span {
          font-size: 120%;
          color: #444;
        }

        .iscurrent.s48 {
          .tag_icon(0px, -48px);
        }
        .iscurrent.s64 {
          .tag_icon(0px, -304px);
        }

        .isfollow span {
          color: #efe;
        }
        
        .issink, .iscurrent.issink, .isfollow.issink {
          .tag_icon(0px, -192px);
        }
        .issink span {
          display: none;
        }

        .shadow.s108 {
          line-height: 186px;
          height: 108px;
          width: 108px;
          .tag_icon(0px, -368px);
        }
        .shadow.s124 {
          line-height: 214px;
          height: 124px;
          width: 124px;
          .tag_icon(0px, -476px);
        }
      }

    //-end of less

  body

    #bubbles

    script(type="text/template",id="ball-template")
      <div class="bub s<%=size%><% if(follow) { %> isfollow<% } %><% if(current) { %> iscurrent<% } %><% if(sink) { %> issink<% } %>">
      <span><%= text %></span>
      </div>

    script(type="text/template",id="ball-shadow-template")
      <div class="shadow s<%=size+60%>">
      <% if(!self && !homepage){%>
      <span>
      <% if (follow) {%>
      <a href="#" class="unfollow"><%=t_unfollow%></a>
      <% } else { %>
      <a href="#" class="follow"><%=t_follow%></a>
      <% } %>
      <a href="#" class="reclip"><%=t_reclip%></a>
      </span>
      <% } %>
      </div>
