!!! 5

html

  head

    title Ball Pool

    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    meta(name="viewport",content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    //- :: depends - use cdn first
    //- script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="js/lib/jquery.min.js")
    //- script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js")
    script(src="js/lib/underscore.min.js")
    //- script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.1/backbone-min.js")
    script(src="js/lib/backbone.min.js")

    //- application
    script(src="js/bub.js")
    
    :less
      .tag_icon(@x:0, @y:0) {
        background: url(img/tag_bg.png) no-repeat;
        background-position: @x @y;
        display: block;
      }
      body {
        overflow: hidden;
        background-color: #d9d9d9;
        font-family: arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
      }
      .ball {
        position: absolute;
        text-align: center;
        font-size: 75%;
        div {
          position: absolute;
          font-weight: bold;
        }
        .bub {
          -moz-user-select:none;
          -khtml-user-select:none;
          -webkit-user-select:none;
          cursor: pointer;
        }
        .bub:hover {
          //- font-size: 120%;
          color: #444;
        }

        .shadow {
          left: -30px;
          top: -30px;
        }

        span {
          text-decoration: none;
        }
        a {
          color: #fff;
          text-decoration: none;
          font-size:15px;
        }
        a:hover {
          font-size: 120%;
        }

        .s48 {
          width: 48px;
          height: 48px;
          line-height: 48px;
          .tag_icon(0px, 0px);
          color:#669;
        }
        .s64 {
          width: 64px;
          height: 64px;
          line-height: 64px;
          .tag_icon(0px, -240px);
          color:#966;
        }

        .isfollow span {
          color: #686;
        }
        
        .iscurrent span {
          font-size: 120%;
          color: #fff;
        }

        .iscurrent.s48 {
          .tag_icon(0px, -48px);
        }
        .iscurrent.s64 {
          .tag_icon(0px, -304px);
        }

        .issink, .iscurrent.issink, .isfollow.issink {
          .tag_icon(0px, -192px);
        }
        .issink span {
          display: none;
        }

        .shadow.s108 {
          line-height: 186px;
          height: 108px;
          width: 108px;
          .tag_icon(0px, -368px);
          a{
            div{
              z-index:1;
              width:20px;
              height:20px;
              margin-top:68px;
            }
            ._reclip{
              .tag_icon(-104px,-40px);            
              margin-left:54px;
            }
            ._unfollow{
              .tag_icon(-104px,-20px);            
              margin-left:34px;
            }
            ._follow{
              .tag_icon(-104px,0px);            
              margin-left:34px;
            }
          }
        }
        .shadow.s124 {
          line-height: 214px;
          height: 124px;
          width: 124px;
          .tag_icon(0px, -476px);
          a{
            div{
              z-index:1;
              width:20px;
              height:20px;
              margin-top:70px;
            }
            ._reclip{
              .tag_icon(-104px,-40px);            
              margin-left:62px;
            }
            ._unfollow{
              .tag_icon(-104px,-20px);            
              margin-left:42px;
            }
            ._follow{
              .tag_icon(-104px,0px);            
              margin-left:42px;
            }
          }
        }
      }

    //- end of less

    //- 气泡上的“追” ，“停” ，“收”按钮全部去掉，暂时注释掉
    //
      <% if(!self && !homepage){%>
      <span>
      <% if (follow) {%>
      <a href="#" class="unfollow"><div class="_unfollow" title="<%=t_unfollow%>"></div></a>
      <% } else { %>
      <a href="#" class="follow"><div class="_follow" title="<%=t_follow%>"></div></a>
      <% } %>
      <a href="#" class="reclip"><div class="_reclip" title="<%=t_reclip%>"></div></a>
      </span>
      <% } %>

  body

    #bubbles

    script(type="text/template",id="ball-template")
      <div class="bub s<%=size%><% if(follow) { %> isfollow<% } %><% if(current) { %> iscurrent<% } %><% if(sink) { %> issink<% } %>">
      <span class="open_bub"><%= text %></span>
      </div>

    script(type="text/template",id="ball-shadow-template")
      <div class="shadow s<%=size+60%>">
      </div>
