script
  var oauth = !{oauth};
  if (oauth == "close"){
    window.location.href="/#"		
  } else if(oauth == "error") {
    window.location.href="/#"
  } else {
    window.location.href="/#oauth/callback"
  }