script(type="text/javascript)
  window._gaq = [];
  _gaq.push(['_setAccount', 'UA-34124176-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_setSiteSpeedSampleRate', 100]);//采样比例，访问量过大应减小
  _gaq.push(['_addOrganic', 'google', 'as_q']);
  _gaq.push(['_addOrganic', 'baidu', 'word']);
  _gaq.push(['_addOrganic', 'baidu', 'w']);
  _gaq.push(['_addOrganic', 'baidu', 'q1']);
  _gaq.push(['_addOrganic', 'baidu', 'q2']);
  _gaq.push(['_addOrganic', 'baidu', 'q3']);
  _gaq.push(['_addOrganic', 'baidu', 'q4']);
  _gaq.push(['_addOrganic', 'baidu', 'q5']);
  _gaq.push(['_addOrganic', 'baidu', 'q6']);
  _gaq.push(['_addOrganic', 'soso', 'w']);
  _gaq.push(['_addOrganic', 'youdao', 'q']);
  _gaq.push(['_addOrganic', 'sogou', 'query']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
