!!!
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js gt-ie8"> <![endif]-->

html

  head

    title cliclip
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    //- meta(http-equiv="X-UA-Compatible",content="IE=EmulateIE7")
    meta(name="viewport",content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    link(rel="shortcut icon",href="images/favicon.ico")
    link(rel="apple-touch-icon",href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon",sizes="72x72",href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon",sizes="114x114",href="images/apple-touch-icon-114x114.png")

    //- application :: css
    link(rel="stylesheet",href="css/app.css")

    //- ie png fix
    //if lt IE 7
      link(rel="stylesheet",href="css/ie6.css")
      script(src="js/lib/png.js")
      script DD_belatedPNG.fix('.logo,.input,.select,.add,.more,.comer_topleft,.comer_topright,.comer_bottomleft,.comer_bottomright,.pages_top,.pages_right,.pages_bottom,.biezhen,.search_btn,.my_info,.icon_biezhen,.icon_quote,.user_i,.zhui,.stop,.user_more,.all,.no_tag,.yet_del,.upload_img,.link_img,.format,.url_text,.subject_put,.subject_note,.subject_comment,.subject_forward,.subject_del,.verify,.cancel,.my,.at_me,.expert');
    //if IE 7
      link(rel="stylesheet",href="css/ie7.css")
    //if lt IE 8
      script(type="text/javascript")
        window.location.hash = window.location.hash;    
    //- ie html5 fix
    //if lt IE 9
      script(src="js/lib/html5.js")

  body

    div.layout

      header.header
        div.center
          div#mine
          div.logo
            a(href="")
          hgroup.search
      div#myset
      div#setpop
      section.clearfix
        aside.left
          div#face
          div#bubb
        div.right.clearfix
          div.left_shadow.clearfix
            div.left_shadow_top
            div#follow
            div#list.content_container
          div.add#add_right
          a(href="javascript:scroll(0,0)")
            div.return_top#return_top
        div.loader
    div.feed
    div#view
    div#pop
    div#feedback			       
    //- 程序控制组件插入的要素
      #mine
      #myset
      #face
      #bubb
      #list
      #view
      #pop
      #setpop
      #feedback
     //- #query

    //- application :: templates
    include tmpl/login-view-template
    include tmpl/register-view-template
    include tmpl/me-view-template
    include tmpl/userface-view-template
    include tmpl/bind-view-template
    include tmpl/help-view-template

    include tmpl/editUser-view-template

    include tmpl/detail-view-template
    include tmpl/editDetail-view-template
    include tmpl/addclip-view-template
    include tmpl/comment-view-template

    include tmpl/delete-view-template
    include tmpl/reclip-view-template
    include tmpl/recommend-view-template
    include tmpl/clipmemo-view-template

    include tmpl/clippreview-view-template
    include tmpl/queryclip-view-template

    include tmpl/following-view-template
    include tmpl/follower-view-template

    include tmpl/findpass-view-template
    include tmpl/resetpass-view-template
    include tmpl/gotosetup-view-template

    include tmpl/message-view-template
    include tmpl/taglist-view-template
    include tmpl/feedback-view-template

    //- :: depends - use cdn first
    script(src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.min.js")
    //- script(src="js/lib/json2.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    //- script(src="js/lib/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js")
    //- script(src="js/lib/underscore.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.1/backbone-min.js")
    //- script(src="js/lib/backbone.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js")
    //- script(src="js/lib/modernizr.min.js")
    //- :: depends - has not cdn : use local
    script(src="js/lib/backbone.marionette.min.js")
    script(src="js/lib/jquery.printf.min.js")
    script(src="js/lib/jquery.tagsinput.min.js")
    script(src="js/lib/jquery.masonry.min.js")		
    script(src="js/lib/easyXDM.min.js")
    
    //- application
    script(src="js/app.js")
    
    //- google analystics
    script(src="js/ga.js")
