//- 此文件与 index.jade 完全一致，所不同在于为了嵌入程序可能需要有一个本地的修改版本
!!! 5
html

  head

    title cliclip

    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    meta(name="viewport",content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    link(rel="shortcut icon",href="images/favicon.ico")
    link(rel="apple-touch-icon",href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon",sizes="72x72",href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon",sizes="114x114",href="images/apple-touch-icon-114x114.png")

    link(rel="stylesheet",href="style/bootstrap.min.css")
    //- client side less
    link(rel="stylesheet/less",href="style/style.less")
    script(src="js/less-1.2.2.min.js")

    //- ie png fix
    //if lt IE 7
      script(src="js/png.js")
      script DD_belatedPNG.fix('.logo,.input,.select,.add,.more,.comer_topleft,.comer_topright,.comer_bottomleft,.comer_bottomright,.pages_top,.pages_right,.pages_bottom,.biezhen,.search_btn,.my_info,.icon_biezhen,.icon_quote,.user_i,.zhui,.stop,.user_more,.all,.no_tag,.yet_del,.upload_img,.link_img,.format,.url_text,.subject_put,.subject_note,.subject_comment,.subject_forward,.subject_del,.verify,.cancel,.my,.at_me,.expert');
    //- ie html5 fix
    //if lt IE 9
      script(src="js/html5.js")

  body

    div.layout

      header.header
        div.center
          div#mine
            // **** 当前登录用户的信息 TODO 未登录显示 “注册 ｜ 登录”
            include jade/my_info
            // ****
          div.logo
            a(href="index.html")
          hgroup.search
            // **** 新建clip 查找clip 相关介绍的下拉列表
      section.clearfix
        aside.left
          div#face
            // **** 用户信息
            //-include jade/user_info
            // ****
          div#bubb
            // **** 气泡
            //-include jade/bubb
            // ****
        div.right.clearfix
          div.left_shadow.clearfix
            div.left_shadow_top
            div#list.content_container
              // **** clip 列表 A风格，转
              //-include jade/clip_a_c
              // **** clip 列表 A风格
              //-include jade/clip_a
              // **** clip 列表 B风格，转
              //-include jade/clip_b_c
              // **** clip 列表 B风格
              //-include jade/clip_b
              // **** 谁追我／我追谁 TODO 展开
              //-include jade/follow_me
              // ****
        div.loader
          | loading...

        div.gotop
          a(href="javascript:scroll(0,0)") Go Top

    div#view
      // **** 增
      //-include jade/dialog_add
      // **** 改
      //-include jade/dialog_edit
      // **** clip 详情
      //-include jade/dialog_favo
      // ****
    div#pop
      // **** 收
      //-include jade/dialog_reclip
      // **** 转
      //-include jade/dialog_recommend
      // **** 评
      //-include jade/dialog_comment
      // **** 注
      //-include jade/dialog_note
      // **** 删
      //-include jade/dialog_del
      // **** 登录
      //-include jade/dialog_login
      // **** 邮件确认
      //-include jade/dialog_mail
      // ****

    //- 程序控制组件插入的要素
      #mine
      #face
      #bubb
      #list
      #view
      #pop
     //- #query

    // **** 程序代码插入点
    include app
    // ****
