//- client side less
//-link(rel="stylesheet/less",href="css/lib/bootstrap.less")
//-link(rel="stylesheet/less",href="css/style.less")
//-script(src="js/lib/less-1.2.2.min.js")

@import "views/css/lib/bootstrap.less";
@import "views/css/style.less";

//-link(rel="stylesheet",href="css/top.css")
//-link(rel="stylesheet",href="css/uploadImage.css")
//-link(rel="stylesheet",href="tmpl/jquery.tagsinput.css")
//-link(rel="stylesheet",href="tmpl/jquery-ui.css")

!= code("views/css/top.css")
!= code("views/css/uploadImage.css")
!= code("views/css/jquery.tagsinput.css")
//-!= code("views/css/jquery-ui.css")
