#mine{
 float: top;
 margin-left:20px;
}
#query{

}
#face{
  top:30px; 
  float:left;
  position: absolute;
  margin-left:20px;
  margin-right:20px;
  width:200px;
  z-index:9;
}
#bubb{

}
#list{
 width:1000px;
 margin-left:250px;
 position: absolute;
 z-index:9;
}
#view{
 position: absolute;
 z-index:10;
}
#pop{
 position: absolute;
 z-index:11;
}