#mine{
 float: top;
 margin-left:20px;
}
#query{
 float: left;
}
#face{
  top:30px; 
  float:left;
  position: absolute;
  margin-left:20px;
  margin-right:20px;
  width:200px;
  z-index:9;
}
#bubb{
  width: 300px;
  float: left;
}

#list{
 width:600px;
 margin-left:300px;
 position: absolute;
 z-index:9;
}
#view{
 position: absolute;
 z-index:10;
}
#pop{
 position: absolute;
 z-index:11;
}