.preview-item{
  overflow:auto;
  border-style:solid;
  border-color:#ffffff;
  border-width:1px ;
  padding:5px 5px 5px 5px;
  margin-bottom:60px;  
  max-width:100%;
}
.preview-item:hover{
  border-style:solid;
  border-color:#cccccc;
  border-width:1px ;
  border:1px solid #ccc;
  -moz-box-shadow:2px 2px 5px #06C;
  -webkit-box-shadow:2px 2px 5px #06C;
  box-shadow:2px 2px 5px #06C;
}
.preview-image.left{
  float:left;
  margin-right:10px;
  margin-bottom:10px;
  max-width:99%;
}
.preview-image.right{
  float:right;
  margin-left:10px;
  margin-bottom:10px;
  max-width:99%;
}
.preview-image img{
  -moz-box-shadow:2px 2px 5px #666;
  -webkit-box-shadow:2px 2px 5px #666;
  box-shadow:2px 2px 5px #666;
  max-width:99%;	
}
.preview-image:hover img{
  -moz-box-shadow:2px 2px 5px #06C;
  -webkit-box-shadow:2px 2px 5px #06C;
  box-shadow:2px 2px 5px #06C;
}
.preview-text{
  max-width:90%;
  margin-bottom:15px;
  font-size:1.7em;
  font-family:"微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
}
.content-container{
  position:relative;
  overflow:auto;
  margin:10px 0px 10px 0px;
  //border:1px solid #ccc;
} 
.preview-info{
  color:#999999;
  font-size:1.2em;
  //font-family:"Microsoft Yahei","微软雅黑";
}
.info-city a, .info-device a{
  text-decoration:none;
  color:blue;
}
.preview-note{
  font-size:1.5em;
  font-family:"幼圆";
}
.controlSprite{
  overflow: hidden;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-image: url(../img/control-sprite.png);
}
.detailButton:hover{
  background-position:-120px 0px;
}
.notesWrapA{
  background: #D6EAEE;
  border: 1px solid #D6EAEE;
  padding: 4px 2px 2px 2px;
  z-index: 3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 95%;
  max-width: 640px;
  min-width: 300px;
  position: relative;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 13pt;
  color: #666;
}
.notewedge {
  position: absolute;
  display: block;
  top: -8px;
  left: 20px;
  width: 15px;
  height: 8px;
}
#keywordDiv { 
  position: absolute;
  display: block;
  top: 0px;
  left: 500px;
  width: 300px;
  height: 10px;
}

