  // 常用 mixin
// @important "min_bootstrap.js";
// @important "bootstrap.js";
.sprites (@x:0, @y:0) {
  background: url(../img/sprite.png) no-repeat;
  background-position: @x @y;
  display: block;
}
// 重构了用户头像下面的样式
.glyphicons-halflings (@x:0, @y:0) {
  background: url(../img/glyphicons-halflings-white.png) no-repeat;
  background-position: @x @y;
  display: block;
}
.help-menu-en (@x:0, @y:0) {
  background: url(../img/menu_en.png) no-repeat;
  background-position: @x @y;
  display: block;
}
.help-menu-zh (@x:0, @y:0) {
  background: url(../img/menu_zh.png) no-repeat;
  background-position: @x @y;
  display: block;
}
.box-shadow (@x: 0px, @y: 0px, @blur: 1px, @color: #ccc) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  //position:relative;
  //behavior: url(css/pie.htc);
}
.border-radius (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
  //position:relative;
  //behavior: url(css/pie.htc);
}

.border-radius-input (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}
a {
  color: #005580;
  text-decoration: none;
}

img{
	border:none;
	max-width: 100000px;
}

// clipdetail等
#view {
        z-index: 10;
        .masker_layer { z-index: 2;}	
        .masker{ z-index:3; }	
}
// clipdetail上边的
#pop{
	z-index: 30;
  	.masker_layer{ z-index: 15; }
  	.masker{ z-index:16; }
}
#myset{
	z-index:20;
	.masker_layer{ z-index: 12; }
	.masker{ z-index: 13; }
}
#setpop{
        left: 50%;
  	position: absolute;
  	z-index: 1000;
  	top: 80px;
  	.masker_layer{ z-index:20; }
  	.masker{ z-index:21 }
  	h2{ margin-left: 10px; }
}
#bubb iframe {
      	width: 240px;
      	height: 320px;
      	border: none;
}

#editor {
	width:100%;
	height:100%;
	border:0px;
}

// ie6 fix masker

html{
	height:100%;
}


.noscroll{ 
  	overflow:hidden !important;
}
html body {
     	position:relative;
  	height:100%;
	background-color:#d9d9d9;
}
.fixed {
        position: fixed;
} 
.loader {
        text-align: right;
        line-height: 30px;
        height: 30px;
}
.masker{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-x:auto;
	overflow-y:scroll;
	top:0;
	left:0;
	.bottom{
	       height: 22px; 
	       width: 100%;
	       position: absolute;
	       margin-top: 671px;
	}
	//详情页面中元素的css
	a#focus{
		font-size: 1px;
 		outline: none;
		margin-left: -10px;	
	}

}
//弹出窗口后的遮罩层
.masker_layer{
   width: 100%; //1000px;
   height: 100%; //1000px;
   position: fixed; //absolute;
   background:#000;
   opacity: 0.5;
   filter:alpha(opacity=50);
   top:0;
   left:0;
}
.masker_layer1{//连接图片弹出框弹出后加一层遮罩层，点击遮罩层弹出框消失
   display:none;
   width: 100%;
   height: 100%;
   position: fixed;
   background:red;
   opacity: 0;
   filter:alpha(opacity=0);
   top:0;
   left:0;
   z-index:2;
}

//弹出窗口的关闭按钮
.close_w{
	width:33px;
	height:33px;
	.sprites(-140px,-160px);
	position: absolute;
	right:-15px;
	top:-15px;
	cursor: pointer;
}

// 页面整体布局 layout.less
.layout{
	min-height: 960px;
	background-color: #d9d9d9;
	.left{
		width:240px;
		float:left;
		background:url(../img/top_shadow.jpg) repeat-x left top;
		.pop{
			width:230px;
			height:300px;
			overflow:hidden;
			margin:0 0 10px 8px;
		}
	}
	.right{
		margin-left:240px;
		min-height: 832px;
		background:#d9d9d9 url(../img/top_shadow.jpg) repeat-x left top;
		.left_shadow{
			min-height:832px;
			padding:30px 0px 0 25px;
			background:url(../img/left_shadow.jpg) repeat-y left top;
			position:relative;
			.left_shadow_top{
				width:15px;
				height:15px;
				background:url(../img/left_shadow_top.jpg) no-repeat left top;
				position:absolute;
				left:0;
				top:0;
			}
			//采用程序绝对定位的方式布局，取消多列结构
			.content_container#follow{ 
				margin:0 0px;
			}
		}
		.add{
			.sprites(-60px,-100px);
			width:32px;	
			height:32px;
			position: fixed;
			right:31px;
			bottom:2px;
			opacity: 0.7;
			cursor:pointer;
			filter:alpha(opacity=50);
			display:none;
		}
		.return_top{
			width:31px;
			height:53px;
			.sprites(-260px,-20px);
			position: fixed;
			right:31px;
			bottom:37px;
			cursor:pointer;
			display:none;
		}
		.time_line{//时间滚动条尚未添加
			width:17px;
			height:330px;
			background:url(../img/timeline.png) no-repeat 0 0;
			position: absolute;
			right:51px;
			top:10px;
			span{
				width:7px;
				height:317px;
				display: block;
				position: absolute;
				left:5px;
				top:5px;
				background:url(../img/timeline.png) no-repeat -17px 0;
			}
			b{
				width:17px;
				height:17px;
				display: block;
				position: absolute;
				cursor: pointer;
				top:60px;
				background:url(../img/timeline.png) no-repeat 0 -330px;
			}
			time{
				width:40px;
				height:23px;
				padding-left:4px;
				text-align:center;
				line-height:23px;
				position: absolute;
				left:17px;
				color:#fff;
				background:url(../img/timeline.png) no-repeat 0 -347px;
			}
		}
	}
}

.feed{
	position:fixed;
	top:40%;
	width:30px;	
	height:90px;	
	right: 0;
	cursor: pointer;
}

.feed-zh{
	background: url("../img/feedback-zh.png");
}

.feed-en{
	background: url("../img/feedback-en.png");
}

.feed:hover{
	//margin-right:2px;
}

#feedback{
	z-index: 999;
  	.masker_layer{ z-index: 997; }
  	.masker{z-index:998}
	textarea {
    		 border: 1px solid #CCCCCC;
    		 height: 72px;
    		 margin-bottom: 0;
    		 resize: none;
    		 width: 270px;
	}
	textarea.error{
		border:1px solid #f00;
	}
	span.error{
		right:25px;
		margin-top:45px;
		max-width:500px;
		min-width:110px;
		padding:6px;
	}
}

//页面的最上边logo部分
.header{
	height:99px;
	background:url(../img/top_bg.jpg) repeat-x top left;
	position: relative;
	z-index:2;
	.logo{
		width:170px;
		height:71px;
		margin:14px 25px;
		float:left;
		.sprites(-40px, -15px);
		cursor:pointer;	
		a{
			display:block;
			text-decoration:none;
			outline:none;
			width:170px;
			height:71px;
			float:left;
		}
	}
	.in_site{
		width:230px;
		height:57px;
		position: absolute;
		right:0px;
		bottom:20px;
		color:#fff;
		a{
			color:#fff;
			cursor:pointer;
		}
		.language{
			float: right;	
   			margin-top: -22px;
			.delang{
				//background: none repeat scroll 0 0 #FFFFFF;
 				color: #FFFFFF;
				margin-right: 3px;
    				line-height: 20px;
				cursor: pointer;
			}
			#show_language{
				display:none;
				min-width:65px;
				background: none repeat scroll 0 0 #333;
				position: absolute;
				list-style:none;
				right: 0;
				z-index: 2;
				cursor: pointer;
				li{
					padding-left:3px;
					line-height:24px;
				}
			}
		}
	}
	.change{
		width:50px;
		height:25px;
	}	
	.log{
		float:right;
		margin-right: 10px;
		margin-top: 40px;
	}
	.my_info{
		width:71px;
		height:57px;
		position: absolute;
		z-index:2;
		right:20px;
		bottom:20px;
		color:#fff;
		a{color:#fff;text-decoration:none;}
		cursor: pointer;
		.sprites(-515px,-100px);
		#show_mysetup{
			display:none;
		}
		.my_head{
			width:43px;
			height:43px;
			padding: 6px 0 0 9px;
			img{
				width:43px;
				height:43px;
			}
		}
		.user_action{
			.border-radius(5px);
			width:70px;
			height:72px;
			top:56px;
			background-color:#585858;
			position: absolute;
			bottom:-57px;
			list-style:none;
			margin:0;
			padding:5px 0;
			z-index: 2;
			li{
				height:24px;
				width:5px;
				padding-left:25px;
				line-height:24px;
				.glyphicons-halflings(-422px,5px);
				font-size:12px;
				margin:0 -4px;
				a{
					display: block;
					height:24px;
					width:46px;
					color:#fff;
					text-decoration:none;
					outline:none;
				}
			}
			li.logout{
				.glyphicons-halflings(-374px,5px);
			}
			li.help{
				.glyphicons-halflings(-86px,-91px);
			}
		}
	}
	nav{
		width:230px;
		position: absolute;
		top:70px;
		height:30px;
		line-height:30px;
		right:0;
		margin-right:100px;
		span{
			height:30px;
			float: right;
			position: absolute;
			left:51px; //去掉@前是0px
			top:0;
			text-align:center;
			a{
				text-decoration:none;
				outline:none;
				color:#fff;
				display: block;
			}
			i{
				.border-radius(12px);
				line-height:12px;
				padding:2px 4px;
				display: block;
				position: absolute;
				background:red;
				top:5px;
				left:60px;
				color: #fff;
				font-weight:100;
				font-size:12px;
				letter-spacing:0;
				font-style:normal;
			}
		}
		.my{
			width:90px;
			.sprites(-30px,-424px);
			z-index:2;
			a{color:#925d00;text-decoration:none;outline:none}
		}
		.at_me{
			width:90px;
			.sprites(-120px, -424px);
			left:70px;
			z-index:1;
			a{text-decoration:none;outline:none}
		}
		.expert{
			width:90px;
			.sprites(-210px,-424px);
			left:135px; 
			z-index:0;
			a{text-decoration:none;outline:none}
		}
	}
	hgroup.search{
		float: left;
		padding: 30px 0 0 10px;
		.select{
			width:80px;
			height:43px;
			.sprites(-420px,-20px);
			float: left;
			margin-right: 10px;
			position: relative;
			b.add{
				.sprites(-60px,-100px);
				width:32px;
				height:32px;
				margin: 5px 8px;
				float: left;
				cursor: pointer;
			}
			b.more{
				.sprites(-100px,-100px);
				width:20px;
				height:20px;
				margin:12px 5px;
				float: left;
				cursor: pointer;
			}
			ul.en{
				li{
					background:url(../img/menu_en.png) no-repeat;
				}
			}
			ul.zh{
				li{
					background:url(../img/menu_zh.png) no-repeat;
				}
			}
			ul.options{
				width:200px;
				height:228px;
				padding:33px 10px 25px;
				margin:0;
				position: absolute;
				background:url(../img/menu_bg.png) no-repeat left top;
				bottom:-274px;
				left:25px;
				z-index:10;
				list-style:none;
				display:none;
				li{
					height:42px;
					margin-bottom:3px;
					//background:url(../img/menu_en.png) no-repeat;
					background-color:#d9d9d9;
					a{
						display: block;
						width:100%;
						height:42px;
						text-indent:-200000px;
						text-decoration:none;
						outline:none;
					}
				}
				li.copy{background-position: 0 0;}
				li.bookmark{background-position: 0 -44px;}
				li.email{background-position: 0 -88px;}
				li.weibo{background-position: 0 -132px;}
				li.twitter{background-position: 0 -176px;}
			}
		}
		.input{
			width:286px;
			height:32px;
			.sprites(-260px,-220px);
			float: left;
			margin: 6px 0;
			input.text{
				width:244px;
				height:22px;
				background:none;
				overflow: hidden;
				border:none;
				float: left;
				color:#fff;
			}
			input.search_btn{
				width:32px;
				height:32px;
				.sprites(-135px,-94px);
				border:none;
				float: left;
			}
		}
	}
}

// 用户头像组件 userface-view-template
.user_info{
	width:240px;
	padding-top:15px;
	.user_head{
		width:240px;
		height:240px;
		position: relative;
		cursor: pointer;
		.user_i{
			width:25px;
			height:25px;
			position:absolute;
			right:25px;
			bottom:10px;
			.sprites(-300px,-20px);
			cursor: pointer;
			.user_i_icon{
				width:49px;
				height:57px;
				position: absolute;
				bottom:25px;
				left:-20px;
			}
			.euser_i_icon{
				width:79px;
				height:57px;
				position: absolute;
				bottom:25px;
				left:-33px;
			}
			.ezhui{
				.euser_i_icon;
				.sprites(-40px,-713px);
			}
			.estop{
				.euser_i_icon;
				.sprites(-132px,-713px);
			}
			.stop{
				.user_i_icon;
				.sprites(-517px,-20px);
			}
			.zhui{
				.user_i_icon;
				.sprites(-590px,-20px);
			}
		}
		img{
			width:240px;
			height:auto!important;
		}
	}
	
	.user_detail{
		padding:5px 0 0;
		margin:0 15px;
		dt{
			padding:8px 0 5px;
			a {
				font-size:24px;
				color: #818181;
				font-weight:blod;
				cursor: pointer;
			}
		}
		dd{
			.clearfix();
			margin: 0;
			padding:0 0 5px;
			border-bottom:1px solid #bababa;
			margin-bottom:5px;
			.icons_frame{
				line-height:22px;
				height:22px;
			}
			.icon_block{
				position:relative;
				display: block;
				float: left;
				padding-left: 5px;
				margin-right:5px;
				cursor: pointer;
			}
			.icon_follow{
				cursor: pointer;
				position:relative;
				display: block;
				float: left;
				padding-left: 10px;
			}
		}
		.guest{
			width:43px;
			height:43px;
			float: right;
		}
		.input{
			width:207px;
			height:32px;
			margin-top: 26px;
			input.text{
				width:166px;
				height:22px;
				background:#EEEEEE;
				overflow: hidden;
				border:none;
				float: left;
				color:#999;
			}
			input.search_btn{
				width:32px;
				height:32px;
				.sprites(-135px,-94px);
				border:none;
				float: left;
			}
		}
	}
}

// clip 列表视图组件 clippreview-view-template
article.clip{
	width:300px;
	margin-right: 30px;
	margin-bottom:35px;
	position:relative;
	float:left; // 为制作方便加上，采用程序布局时，会取消
	background:white;
	hgroup{
		padding:15px 0 0 15px;
		background:url(../img/purple_shadow.jpg) repeat-x left bottom #f6edfa;
		.user_info_small{
			width:33px;
			height:35px;
			float: left;
			img{
				width:33px;
				height:33px;
			}
		}
		dt.username{
			margin-left: 38px;
    			margin-top: 18px;
			div.recommend_time{
				margin-top: -36px;
				padding-right: 15px;
				text-align: right;
				span{
					margin-left: 117px;
				}
			}
		}
		.user_text{
			width:260px;
			//margin-left:33px;
			margin-top:12px;
			overflow: hidden;
			color: #8a5ab1;
			font-size:14px;
			padding:0 0 15px 5px;
			background:url(../img/up_comer.gif) no-repeat left bottom;
		}
	}
	header{
		padding:15px;
		margin-bottom:80px;
		cursor: pointer;
		min-height:120px;
		img.img_fake{
			//height:220px;
			//width:270px;
			}
		.article_photo{
			width:270px;
			margin-bottom: 10px;
			text-align: center;
			img{
				display:none;
				max-width:270px;
			}
		}
		.article_con{
			width: 270px;
			font-size: 14px;
			line-height: 1.7;
			color: #808080;
			word-wrap:break-word; 
			overflow:hidden;
			p.text{
				font-size:14px;
				line-height:1.7;
			}
			p.no_img_text{
				font-size:16px;
				line-height:2.0;
			}
		}
	}
	footer{
		width:300px;
		height:60px;
		position: absolute;
		bottom:0;
		background:#ededed;
		.metas{
			line-height:22px;
			height:20px;
			text-align:right;
			float:right;
			margin-top: 10px;
			margin-right: 15px;
			color:#818181;
			.icon_block{
				position:relative;
				display: block;
				float: left;
				padding-left: 5px;
				margin-right:5px;
			}
		}
		.user_info_small{
			height:33px;
			padding:8px 0;
			.user_more{
				width:150px;
				height:42px;
				padding: 5px 0;
				position: absolute;
				left:25px;
			}
			img{
				width:33px;
				height:33px;
				float:left;
			}
			dl.name{
				margin-top: 20px;
				margin-left:40px;
			}
		}
		.action{
			height:40px;
			width:140px;
			padding:0 80px;
			position: absolute;
			top:-40px;
			opacity:0.5;
			filter:alpha(opacity=50);
			background:#67507a;
			i{
				width:40px;
				height:40px;
				float:left;
				margin-left:5px;
				position: static;
				cursor: pointer;
			}
			.reclip{
				.sprites(-585px,-163px);
			}
			.recommend{
				.sprites(-585px,-208px);
			}
			.comment{
				.sprites(-583px,-253px);
			}
			.note{
				.sprites(-583px,-298px);
			}
			.modify{
				.sprites(-583px,-478px);
			}
			.del{
				.sprites(-583px,-343px);
			}
		}
	}
	footer.master{
		background-color:#f2e49f;
		.user_more{
			.sprites(-594px,-99px);
			padding: 5px 0 5px 5px;
		}
		
	}
	.biezhen{
		width:34px;
		height:44px;
		.sprites(-340px,-20px);
		position:absolute;
		top:-11px;
		left:30px;
	}
	.comers{
		width:34px;
		height:34px;
		position: absolute;
	}
	.comer_topleft{
		.comers;
		.sprites(-260px,-100px);
		top:-10px;
		left:-10px;
	}
	.comer_topright{
		.comers;
		.sprites(-300px,-100px);
		top:-10px;
		right:-10px;
	}
	.comer_bottomleft{
		.comers;
		.sprites(-340px,-100px);
		bottom:-11px;
		left:-10px;
	}
	.comer_bottomright{
		.comers;
		.sprites(-380px,-100px);
		bottom:-11px;
		right:-10px;
	}
	.pages_top{
		display:block;
		width:307px;
		height:9px;
		background:url(../img/pages_top.png) left top no-repeat;
		position:absolute;
		top:-9px;
		right:0;
	}
	.pages_right{
		display:block;
		width:9px;
		height:307px;
		background:url(../img/pages_right.png) left bottom no-repeat;
		position:absolute;
		bottom:0;
		right:-9px;
	}
	.pages_bottom{
		display:block;
		width:307px;
		height:9px;
		background:url(../img/pages_bottom.png) left top no-repeat;
		position:absolute;
		bottom:-9px;
		left:0;
	}
}

//following-view-template 和follower-view-template
section.follow_frame{
	width:720px;
	ul.tab_frame{
		list-style:none;
		height:31px;
		margin:0;
		li{
			width:147px;
			height:31px;
			line-height:31px;
			text-align:center;
			float:left;
			cursor: pointer;
		}
		li.tab{
			.sprites(-420px,-260px);
		}
	}
	ul.empty_user{
		margin:0;
	 	background:#b6b6b6;
		padding-top:10px;
		list-style:none;	
		.msg{	
	 		height:90px;
			padding-top:10px;
			p{
				margin-top:20px;
				text-align:center;
				font-size:24px;
				color: #818181;
				font-weight:blod;
				padding:8px 0 5px;
			}			
		}
	}
	ul.user_list{
		margin:0;
		background:#b6b6b6;
		padding-top:10px;
		list-style:none;
		li.user{
			height:90px;
			padding-top:10px;
			.head{
				width:110px;
				float:left;
				text-align:center;
				padding-top:5px;
				img{width:45px;height:45px;}
				p{margin:0;font-size:14px;line-height:1.8}
			}
			.tag_line{
				width:110px;
				padding:15px 0;
				float:left;
				text-align:center;
				span{
					width:48px;height:48px;margin:0 auto;
					float:none;
					display: block;
				}
			}
			.tags{
				width:545px;
				height:48px;
				padding:13px 10px 13px 30px;
				margin-left:110px;
				.sprites(-30px,-610px);
				position: relative;
				span{margin-right:10px;}
				.box{
					width:545px;
					height:60px;
					overflow:hidden;
					position:relative;
					.items{
						height:48px;
						left:0px;
						position:relative;
						.heads{
							.tag;
						}
					}
				}
				.follow{
					width:48px;
					height:19px;
					.sprites(-515px,-295px);
					position: absolute;
					right:10px;
					top:10px;
				}
				.tag{
					display: block;
					width:43px;
					height:43px;
					float:left;
					margin-right:10px;
					p{
						overflow:hidden;
					}
					img{width:43px;height:43px;}
				}
				.heads{
					.tag;
				}
			}
		}
	}
}

//大部分template 都存在的class 例如：弹出窗口的确定和取消按钮
.btn_group{
        height: 28px;
	input{
		color:#fff;
		border:none;
		float:left;
	}
	/*没有发现此处代码的作用 另外几个没有用到的图标 例如：评论，删除按钮
	span{
		width:47px;
		height:31px;
		padding-left:28px;
		.sprites(-60px,-141px);
		position: relative;
		line-height:31px;
		float: left;
		cursor: pointer;
		margin-left: 3px;
		i{
			width:19px;
			height:18px;
			position: absolute;
			top:8px;
			left:8px;
		}
		i.all{
			.sprites(-60px,-220px);
		}
		i.no_tag{
			.sprites(-100px,-220px);
		}
		i.yet_del{
			.sprites(-140px,-220px);
		}
	}
	*/
	.verify{
		width:165px;
		height:37px;
		.sprites(-340px,-431px);
		margin-right:15px;
		margin-bottom:6px;
	}
	.cancel{
		width:90px;
		height:37px;
		.sprites(-340px,-476px);
		margin-bottom:6px;
	}
        .cliper{
		display:none;
		margin-bottom:6px;
	}
}

//success-view-template 代码位于message-view-template.jade中
.success-view{
	.success{
		z-index:20;
		border:5px solid #f0f0f0;
		position: fixed;
		left:50%;
		top:220px;
		margin-left:-90px;
		background:#fff;
		min-width: 150px;
		max-width: 300px;
		.pop_body{
			padding:10px 25px;
			margin:0;
		}
	}	
}

//弹出窗口：注，收，评，推荐等
.small_pop{
	z-index:20;
	width:330px;
	border:5px solid #f0f0f0;
	position: absolute;
	left:50%;
	top:150px;
	margin-left:-165px;
	background:#fff;
	.pop_title{
		height:45px;
		line-height:45px;
		margin:0 5px;
		font-size:24px;
		color:#bbbbbb;
		border-bottom:1px solid #ebebeb;
		padding-left:35px;
	}
	.subject_put{
		.pop_title;
		.sprites(-589px,-162px);
	}
	.subject_note{
		.pop_title;
		.sprites(-589px,-296px);
	}
	.subject_comment{
		.pop_title;
		.sprites(-589px,-250px);
	}
	.subject_forward{
		.pop_title;
		.sprites(-589px,-205px);
	}
	.subject_del{
		.pop_title;
		.sprites(-589px,-342px);
	}
	.pop_body{
		padding:10px 25px;
		margin:0;
		li{
			margin-bottom:10px;
			list-style:none;
		}
		li.input_text{
			input{
				width:270px;
				height:25px;
				border:1px solid #ccc;
				margin-bottom:0;
			}
			input.error{
				border:1px solid #f00;
			}
			span.error{
				max-width:500px;
				min-width:110px;
				padding:5px;
				right:0px
			}
		}
		li.input_textarea{
			textarea{
				width:270px;
				height:72px;
				border:1px solid #ccc;
				margin-bottom:0;
				resize:none;
			}
			textarea.error{
				border:1px solid #f00;
			}
			span.error{
				max-width:500px;
				min-width:110px;
			        padding:5px;
				right:0px;
				margin-top:46px;
			}
		}
		li.input_checkbox{
			 input{
				float: left;
				width:auto!important;
				height:auto!important;
			}
		}
		.tag_box{
			height:48px;
			min-width: 288px;
			margin-left:-7px;
		}
	}
}
//recommend-view-template.jade 中特有的元素
.small_pop .pop_body{ 
	li.select_user{
		input{
			width:220px;
			height:32px;
			float:left;
			margin-left:10px;
			border-style:none;
		}
		div.container{
			border:1px solid #ccc;
			width:278px;
			height:40px;
			.user_small_head{
				width:40px;
				height:40px;
				float: left;
				img{
					width:40px;
					height:40px;
				}
			}
			input.error{
				border:1px solid #f00;
				margin-left: 48px;
				margin-top: -40px;
			}
			span.error{
				right:0px;
				margin-top:0.2px;
	       			max-width:500px;
	       			min-width:110px;
	       			padding:9px;
			}
		}
	}
	.name_list{
		display:none;
		position: absolute;
		left:25px;
       		border:1px solid #999999;	
		width:278px;
		z-index:20;
		background-color:#fff;	
		.action-info{
			cursor: pointer;
        		display: block;
			.user_list_head{
				width:30px;
				height:30px;
				img{
					width:30px;
					height:30px;
				}
			}
			.name-li{
				font-size  : 18px;
				height: 22px;
				line-height: 22px;
				padding: 0 0 0 2px;
				width: 89px;
			}			
		}
	}
}

//clip的新建，修改，详情页面
.big_pop{
	z-index:2;
	width:750px;
	position: absolute;
	left: 50%;
	top: 36px;
	margin-left: -370px;
	background:url(../img/pop_left_bg.jpg) repeat-y left top #fff;
	i{cursor: pointer;}
	.pop_title{
		height:45px;
		line-height:45px;
		color:#8b8b8b;
		background:url(../img/pop_left_title_bg.jpg) repeat-y left top #e7e7e7;
		.button_frame{//新建和修改页面的右上角按钮
			float:right;
			iframe {
				display:none;	
			}
			span{
				margin-left:5px;
				input[type="file"]{
					height: 35px;
					right: 0;
				}
			}
			button{
				border:0 none;
				float:left;
				width:45px;
				height:35px;
				line-height:25px;
				color: #8b8b8b;
				text-align:left;
				white-space: nowrap;
				position: relative;
			}
            		span.close_w {
		  	    	top: -23px;
				right: -15px;
		 	}
			span#link_image{//为链接图片的span设置层次
				z-index:3;
			}
			span.note_clip{
				.note{
					.sprites(-580px,-301px);	
					padding-left: 30px;
				}
			}
			span.url_text{
				width:280px;
				height:28px;
				padding:17px 10px 10px;
				position: absolute;
				bottom:-50px;
				left:-120px;
				.sprites(-30px,-365px);
				display:none;
				input.text{
					width:225px;
					height:12px;
					background:none;
					border:none;
					float: left;
				}
				input.btn_img{
					.border-radius-input(4px);
					cursor: pointer;
					font-size: 13px;
					text-align: center;
					width:40px;
					height:20px;
					line-height:20px;
					border:1px solid #494949;
					padding:0;
					background:#585858;
					text-shadow:none;
					box-shadow:none;
					color:#fff;
					float: left;
				}
			}
			.upload_img{
				.sprites(-526px,-330px);
			}
			.link_img{
				.sprites(-526px,-373px);
			}
			.format{
				.sprites(-526px,-417px);
			}

		}
	}
	.subject_add{
		.pop_title;
	}
	.subject_edit{
		.pop_title;
	}
	.pop_left{
		width:70px;
		float:left;
		.breadcrumbs{
			width:60px;
			font-size:12px;
			line-height:45px;
			display: block;
			text-align:center;
			float: left;
		}
		ul.forward_log{
			list-style:none;
			margin:8px 13px;
			li.user_head{
				div{
                                  margin-top:-25px;
				  margin-left:1px;
				  height:50px;
				}
                                .join{
				   .sprites(-608px,-690px);
				}
                                img{
                         	  width:33px;
                           	  height:33px;
                        	}
			}
		}
	}
	.pop_right{
		padding-left: 80px;
		section.pop_inner{
			padding:10px 10px 10px 0;
			.addcomment-view{
				height:115px;
			}
		}
  		.original{
			color: #000;
		}
		.selected{
			color:#cb5331;
		}
		.content{
			outline:none;
			p{

    				font-size: 16px;
				line-height: 1.7;
				margin: 0 0 9px;
			}
			width:650px;
			min-height:200px;
			padding:4px;
			border:1px solid #ccc;
			overflow-x:hidden;
			overflow-y:auto;
			margin-bottom:20px;
			img{max-width:645px;}
		}
		.content_new{
			width:650px;
			height:470px;
			padding:4px;
			border:1px solid #ccc;
			overflow-x:hidden;
			overflow-y:auto;
			margin-bottom:15px;
			img{max-width:645px;}
			overflow: hidden;
			p{

    				font-size: 16px;
				line-height: 1.7;
				margin: 0 0 9px;
			}
		}	 			
	}
	.bottom{
		margin-top: 0px;
	}
}
//详情页面的右上角按钮及评论部分
.big_pop{
        .pop_right{
		i{
			width:40px;
			height:40px;
			float:right;
			margin-right:10px;
		}
		i.reclip{
			.sprites(-590px,-163px);
		}
		i.recommend{
			.sprites(-590px,-205px);
		}
		i.comment{
			.sprites(-590px,-250px);
		}
		i.note{
			.sprites(-583px,-298px);
		}
		i.modify{
			.sprites(-583px,-478px);
		}
		i.del{
			.sprites(-583px,-343px);
		}
		dl.comments{
			margin-bottom:20px;
			.comment_show{
				border-bottom-style: dotted;
    				border-bottom-width: 1px;
    				border-top: 0 none;
    				margin: 0 0 5px;
    				padding: 0 0 5px;
				border-color: #E6E6E6;
				.user_head{
					width:33px;
					height:33px;
					float:left;
					img{width:33px;height:33px;}
				}
				dt{
					margin-left:43px;
					margin-bottom:5px;
					.username{
						color: #818181;
						font-weight:blod;
						cursor: pointer;
					}
					.text{
						overflow: hidden;
						font-weight:normal;
						color:#909090;
						span.comment_text{
							word-wrap:break-word;
						}
						span.comment_time{
							font-family:Verdana,Arial,Helvetica,Georgia,Sans-Serif;
				        		color:#000
						}
					}
					time{
						color:#ccc;
						padding-left:5px;
					}
				}
				dd.comment_con{
					margin-left:43px;
					margin-right:20px;
					overflow: hidden;
					color:#909090;
				}
				dd.del_comm{
					margin-left:0px;
					margin-buttom:5px;
 				}
				dl{
					padding-left:43px;
					margin-bottom:0;
				}
			}
		}
		textarea#comm_text{
			width:270px;
			height:55px;
			margin-bottom:10px;
			resize:none;
		}
		textarea.error{
			border:1px solid #f00;
		}
		span.error{
			right:350px;
			margin-top:28px;
			max-width:500px;
			min-width:110px;
			padding:6px;
		}
	}
}

// 登陆和注册以及完成时的跳转界面的css
.login_window{
	width:735px;
	height:390px;
	position: absolute;
	left:50%;
	top:140px;
	margin-left:-367px;
	background:url(../img/login_bg.png) repeat left top #66517f;
	z-index:15;
	box-shadow:inset 0 0 15px rgba(0,0,0,50%);
	header{
		height:95px;
		.logo{
			width:145px;
			height:71px;
			margin:14px 25px;
			float:left;
			.sprites(-40px, -15px);
		}
		.login_right{
			height:182px!important;
			top:-40px;
		}
	}
	footer{
		height:260px;
		padding-top:60px;
		background:url(../img/login_bg.png) repeat left top#fff;
		box-shadow:inset 0 -10px 20px #999;
		.text_con{
			width:465px;
			font-size:18px;
			line-height:1.8;
			margin:0 auto;
			.btn_frame{
				margin-top:5px;
				padding-top:30px;
			}
			.login_btn{
				float:none;
				margin:0 auto;
				width:135px;
				height:40px;
				border:none;
				.sprites(-440px,-475px);
			}
		}
	}
	.login_right{
		width:360px;
		height:180px;
		top:20px;
		right:20px;
		position:absolute;
		background:url(../img/login_right_bg.png) no-repeat left top;
		#note_img{
			width:340px;
			height:431px;
			position: absolute;
			left:40px;
			bottom:-360px;
		}
		.note_img_zh{background:url(../img/login_right_bg.png) no-repeat left bottom;}
		.note_img_en{background:url(../img/login_right_bg_en.png) no-repeat left bottom;}
	}
	.login_left{
		width:340px;
		height:380px;
		padding:30px;
		float: left;
		.logo_bg{
			.sprites(-20px,-475px);
			width:300px;
			height:135px;
			margin:0 auto;
			margin-bottom:10px;
		}
		fieldset{
			width:290px;
			margin:0 auto;
			border: 0 none;
			legend{
				display: none;
			}
			form{
				margin:0 0 0 0;
				label.username{
					width:100px;
					height:35px;
					padding-top:7px;
					color:white;
					font-size:20px;
				}
				li{list-style-type:none;margin-left:-20px;}
				label.password{
					width:100px;
					height:35px;
					padding-top:7px;
					//.sprites(-420px,-345px);
					color:white;
					font-size:20px;
				}
				.login_input{
					.sprites(-340px,-520px);
					height: 35px;
    					width: 205px;
					float:right;
					input{
						color:#fff;
						height:27px;
						border:none;
						width:197px;
						float:right;
						margin-bottom:0px;
						background:none repeat scroll 00 transparent;
					}
				}
				.out_link{
					position:relative;
					width:62px;
					top:-41px;
				}
				input#remember{
					float: left;
					width:auto!important;
					height:auto!important;
				}
				input:focus{
				}
				input.error{
					height:26px;
					border:1px solid #f00;
				}
				span.next_login{
					color:#fff;
					position:relative;
					left:41px;	
					top:-40px;
					margin-left:49px;
					label{
						color: #FFFFFF;
    						display: inline;
    						margin-bottom: 0;
						#remember{
							display:inline;
							float:none;
						}
					}
				}
				span.error{
					left:250px;
					min-width:150px;
					padding:6px;
				}
			}
			p{
				font-size:14px;
				color:#d4ce86;
				margin-top:10px;
				margin-left:-20px;
				margin-right:-70px;
				a {
				  color: #fff;
				}
			}
			p.forgetpass{
				position:relative;
				margin-left:90px;
				top:-12px;
			}
		}
		.btn_frame{
			margin-top:5px;
			//padding-top:30px;
			position:relative;
			top:-37px;
			input{float:left;border:none;font-size:16px;}
			button{
				float:left;
				border:none;
				color:#fff;
				padding:0;
				line-height:36px;
			}
			span.l_register{
				color: #fff;
				position: absolute;
				margin-left: 10px;
    				margin-top: 10px;
				cursor: pointer;
			}
			input.login_btn{
				width:135px;
				height:40px;
				.sprites(-440px,-475px);
				margin-left: 110px;
			}
		}
	}
	
}

//注册的CSS
.register_window{
	width:735px;
	height:377px;
	position: absolute;
	left:50%;
	top:140px;
	margin-left:-367px;
	background:url(../img/login_bg.png) repeat left top #66517f;
	z-index:13;
	box-shadow:inset 0 0 15px rgba(0,0,0,50%);
	header{
		height:95px;
		.logo{
			width:145px;
			height:71px;
			margin:14px 25px;
			float:left;
			.sprites(-40px, -15px);
		}
		.register_right{
			height:182px!important;
			top:-40px;
		}
	}
	footer{
		height:260px;
		padding-top:60px;
		background:url(../img/login_bg.png) repeat left top#fff;
		box-shadow:inset 0 -10px 20px #999;
		.text_con{
			width:465px;
			font-size:18px;
			line-height:1.8;
			margin:0 auto;
			.btn_frame{
				margin-top:5px;
				padding-top:30px;
			}
			.register_btn{
				float:none;
				margin:0 auto;
				width:135px;
				height:40px;
				border:none;
				.sprites(-440px,-475px);
			}
		}
	}
	.register_right{
		width:360px;
		height:180px;
		top:20px;
		right:20px;
		position:absolute;
		background:url(../img/login_right_bg.png) no-repeat left top;
		#note_img{
			width:340px;
			height:431px;
			position: absolute;
			left:40px;
			bottom:-360px;
		}
		.note_img_zh{background:url(../img/login_right_bg.png) no-repeat left bottom;}
		.note_img_en{background:url(../img/login_right_bg_en.png) no-repeat left bottom;}
	}
	.register_left{
		width:340px;
		height:380px;
		padding:30px;
		float: left;
		.logo_bg{
			.sprites(-20px,-475px);
			width:300px;
			height:135px;
			margin:0 auto;
			margin-bottom:10px;
		}
		fieldset{
			width:290px;
			margin:0 auto;
			border: 0 none;
			legend{
				display: none;
			}
			form{
				margin:0 0 0 0;
				label.username{
					width:100px;
					height:35px;
					padding-top:7px;
					color:white;
					font-size:20px;
				}
				li{list-style-type:none;margin-left:-20px;}
				label.password{
					width:100px;
					height:35px;
					padding-top:7px;
					//.sprites(-420px,-345px);
					color:white;
					font-size:20px;
				}
				.register_input{
					.sprites(-340px,-520px);
					height: 35px;
    					width: 205px;
					float:right;
					input{
						color:#fff;
						height:27px;
						border:none;
						width:197px;
						float:right;
						margin-bottom:0px;
						background:none repeat scroll 00 transparent;
					}
				}
				input.error{
					height:26px;
					border:1px solid #f00;
				}
				span.next_register{
					margin-left:56px;
					margin-top: -2px;
    					position: absolute;
					label{
						color:#D4CE86;
    						display: inline;
    						margin-bottom: 0;
						a{
							color:#fff;
						}
						#agree{
							display:inline;
							float:none;
						}
					}
				}
				span.error{
					left:250px;
					min-width:150px;
					padding:6px;
				}
			}
			p{
				font-size:14px;
				color:#d4ce86;
				margin-top:10px;
				margin-left:-20px;
				margin-right:-70px;
				a {
				  color: #fff;
				}
			}
		}
		.btn_frame{
			margin-top:5px;
			//padding-top:30px;
			input{float:left;border:none;font-size:16px;}
			button{
				float:left;
				border:none;
				color:#fff;
				padding:0;
				line-height:36px;
			}
			input.reg_btn{
				width:157px;
				height:40px;
				.sprites(-340px,-385px);
				margin-left: 110px;
			}
			span.r_login{
				color: #fff;
				position: absolute;
				margin-left: 10px;
    				margin-top: 10px;
				cursor: pointer;
			}
		}
	}
	
}

//帮助界面CSS 
section.help_frame{
	width:750px;
	padding:30px 0;
	margin:0 auto;
	//position: relative;
	border:3px solid #fff;
	position: absolute;
	left:50%;
	top:100px;
	margin-left:-400px;
	background:#d9d9d9;
 	.bottom{
		margin-top:0px;
		height:80px;
	  }
	.pop_title{
		height:45px;
		line-height:45px;
		margin:-31px 5px 0px;
		font-size:24px;
		color:#333333;
		border-bottom:1px solid #f0f0f0;
		padding-left:35px;
	}
	ul.pop_body{
		padding:10px 25px;
		min-height:170px;   
		margin:0;
		li{
			list-style-type:none;
			height:auto;
			padding-top:10px;
			padding-bottom:5px;
			margin-top:2px;
			background-color:#cacaca;
			.title{
			 	font-size:20px;
			 	cursor:pointer;
				height:42px;
				padding-left:20px;
			}
			.zh_1{
				.help-menu-zh(0px,0px);
			}
			.zh_2{
				.help-menu-zh(0px,-44px);
			}
			.zh_3{
				.help-menu-zh(0px,-88px);
			}
			.zh_4{
				.help-menu-zh(0px,-132px);
			}
			.zh_5{
				.help-menu-zh(0px,-176px);
			}
			.en_1{
				.help-menu-en(0px,0px);
			}
			.en_2{
				.help-menu-en(0px,-44px);
			}
			.en_3{
				.help-menu-en(0px,-88px);
			}
			.en_4{
				.help-menu-en(0px,-132px);
			}
			.en_5{
				.help-menu-en(0px,-176px);
			}
			.hide{	
			 	display:none;
			 	position:relative;
				left:20px;	
				font-size:16px;	
				padding:15px;
				background-color:#eeeeee;
				border:2px solid thistle;
				width:630px;
				margin-top:5px;
			}
			.current{	
			 	position:relative;
				left:20px;	
				font-size:16px;	
				padding:15px;
				background-color:#eeeeee;
				border:2px solid thistle;
				width:630px;
				margin-top:5px;
			}		 
		}
	}
	.close_w {
		 top: -18px;
		 right: -18px;
	}
	
}


//设置界面 最外层
section.edit {
  .masker_layer { z-index:2; }
  .masker { z-index:3;
  	  .bottom{
		margin-top:0px;
		height:80px;
	  }
   }
  .edit_user {
    //background: #d9d9d9;
    //position: relative;
    //z-index: 2;
    //top: 100px;
    //min-height: 556px;
  }
}
//设置界面内部  editUser-view-template
section.edit_frame{
	width:750px;
	padding:30px 0;
	margin:0 auto;
	//position: relative;
	border:3px solid #fff;
	position: absolute;
	left:52%;
	top:100px;
	margin-left:-400px;
	background:#d9d9d9;
	.pop_title{
		height:45px;
		line-height:45px;
		margin:-31px 5px 0px;
		font-size:24px;
		color:#333333;
		border-bottom:1px solid #f0f0f0;
		padding-left:35px;
	}
	.pop_body{
		padding:10px 25px;
		min-height:710px;   
		margin:0;
	}
	.close_w {
		 top: -18px;
		 right: -18px;
	}
	.left_bar{
		width:270px;
		position: absolute;
		left:35px;
		//头像的上传和名字的修改
		.edit_head{
			height:280px;
			background:#fff;
			padding:15px;
			margin-bottom:10px;
			.border-radius(20px);
			.head_img{
				width:240px;
				height:240px;
				margin:0 auto;
				text-align:center;
				background:#ccc;
				margin-bottom:13px;
				overflow:hidden;		
				clear:both;
				img#myface{
					margin:auto;
					clear:both;
				}
			}
			.user_name{
				span.name{
					width:100px;
					//border:none;
					background:none;
					//box-shadow:none;
					font-size:20px;
				}
				.set_username{
					width:150px;
					margin-top:5px;
				}
				.set_ok{
					display:inline;
					margin-top:-9px;
					margin-left:0px;
				}
				.edit_name{
					height:25px;
					line-height:22px;
					.sprites(-340px,-690px);
					border:none;
					color:#fff;
					position: relative;
					display:inline;
					margin-top:-5px;
					span{
						width:2px;
						height:25px;
						position: absolute;
						right:0;
						top:0;
						.sprites(-451px,-690px);
						background-color:#fff;
					}
				}
				.error{
					border:1px solid #f00;
				}
				span.error{
					margin-top:5px;
					left:100px;
					max-width:500px;
					min-width:110px;
					padding:2px;
					min-height:1em;
				}		
			}
		}
		.head_link{
			height:16px;
			padding:15px;
			background:#fff;
			.border-radius(20px);
			margin-bottom:10px;
			iframe{
				display:none;
			}
			form{
				margin-top: -10px;
				button.verify{
					width:90px;
					height:37px;
					float:right;
					.sprites(-340px,-431px);
					display:none;
					border:none;
					color:#fff;
					padding:0;
					line-height:36px;
				}
				span.file{
					height:37px;
					input[type=file]{    
						font-size: 29px;
						height: 38px;
						top: -1px;
						width:430px;
					}
					button.upload{
						float:left;
						border:none;
						color:#fff;
						padding:0;
						line-height:36px;
						width:110px;
						height:37px;
						.sprites(-340px,-431px);
					}
				}
			}
		}
		.preview{
			#preview_size_fake{
				visibility:hidden;  
			}  
		}
		.passEdit{
			margin-top: 380px;
			position:absolute;
		}
		h3.edit_password{
			height:35px;
			// padding-left:40px;
			// .sprites(-615px,-610px);
		}
		ul.input_list{
			background:#fff;
			list-style:none;
			padding:25px;
			margin:0 0 15px;
			.border-radius(25px);
			li{
				height:30px;
				margin-bottom:10px;
				input{
					margin:0 auto;
					color: #333;
					background-color:#efefef;
					border:none;
				}
 				input.error{
					border:1px solid #f00;
				}
				span.error{
					max-width:500px;
					min-width:110px;
					padding:2px;
					right:0px;	
				}
				input.btn_blue{
					height:36px;
					width:164px;
					border:none;
					color:#fff;
					.sprites(-340px,-431px);
				}
				input#new_pass{
					display:none;
				}
				input#con_pass{
					display:none;
				}
			}
			li.btn_line{margin-bottom:20px;}
		}

		//界面语言设置
		.language{
			height:60px;
			background:#fff;
			padding:15px;
			margin-bottom:10px;
			.border-radius(20px);
			h3{
				height:30px;
				line-height:30px;
				margin-bottom:10px;
				border-bottom:2px solid #ccc;
			}
			.delang{
				height:27px;
				width:160px;
 				color: #333333;
    				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    				line-height: 27px;
				cursor: pointer;
			}
			#show_language{
				display:none;
				width:160px;
				background: none repeat scroll 0 0 #8D8D8D;
				position: absolute;
				list-style:none;
				margin:0;
				padding:5px 0;
				z-index: 2;
				cursor: pointer;
				li{
					height:24px;
					padding-left:3px;
					line-height:24px;
					margin:0 3px;
				}
			}
		}
	}
	.middle{
		width:369px;
		margin-left:320px;
		.mail_verify{
			padding:20px 0;
			background:url(../img/mail_verify_bg.jpg) no-repeat left bottom #fff;
		}
		.sec{padding:10px 0;height:auto;background:#fff;}
		//绑定邮箱，微博，twitter
		ul.mail_list{
			width:320px;
			margin:0 auto;
			list-style:none;
			h3{
				height:30px;
				line-height:30px;
				margin-bottom:10px;
				border-bottom:2px solid #ccc;
				.add_accountbind{
					float:right;
					height:25px;
					line-height:22px;
					.sprites(-340px,-690px);
					border:none;
					color:#fff;
					padding-left:7px;
					position: relative;
					span{
						width:2px;
						height:25px;
						position: absolute;
						right:0;
						top:0;
						.sprites(-451px,-690px);
						background-color:#fff;
					}
				}
				span.open_mailcheck{
					display: block;
					//width:105px;
					float:right;
					label{
						display: inline;
						//padding-left:5px;
					}
				}
			}
			li{
				height:30px;
				line-height:20px;
				margin-bottom:13px;
				label{
					width:105px;
					height:30px;
					line-height:30px;
					float:left;
				}
				input.text_input{
					width:190px;
					background-color:#efefef;
					border:none;
				}
				input.error{
					border:1px solid #f00;
				}
				span.error{
					margin-top:-2px;
					margin-left:-120px;
					max-width:500px;
					min-width:110px;
				}
				input.btn_blue{
					height:36px;
					width:164px;
					margin:0 auto;
					border:none;
					color:#fff;
					.sprites(-340px,-431px);
				}
			}
			li.mail_line{
				span{
					width:27px;
					height:27px;
					float:right;
					cursor: pointer;
					.sprites(-200px,-190px)
				}
			}
			li.oauth_li{
				height : 44px;
				span.oauth_del{
					width:27px;
					height:27px;
					float:right;
					margin-top: 0;
					cursor: pointer;
					.sprites(-200px,-190px);
				}
				span.info_name{
					top:-18px;
					position:relative;
				}
			}
		}
		ul.mail_list h3.danger{
			color:red;
			.sprites(-615px,-655px);
			 padding-left: 40px;
			 padding-top: 0;
		}
		input.btn_gray{
			margin:0 auto;
			color: #333;
			background-color:#efefef;
			border:none;
			height:36px;
			width:164px;
			color:#fff;
			.sprites(-340px,-571px);

		}
		input.left{
			float:left;
			margin-left: -5px;
			margin-right: 10px;
		}
	}
}

//弹出窗口气泡部分以及follow页面的列表部分
.tag_bg(@x:0,@y:0){background:url(../img/tag_bg.png) no-repeat @x @y;}
.tag_box{
	span.size48{
		width:48px;
		height:48px;
		line-height:48px;
		float:left;
		font-size:12px;
		color:#fff;
		text-align:center;
		cursor: pointer;
	}
	span.white_48{
		.tag_bg(0,0);
		color: #669;
	}
	span.blue_48{
		.tag_bg(0,-48px);
	}
	span.orange_48{
		color:#966;
		.tag_bg(0,-48px);
	}
	span.green_48{
		.tag_bg(0,-144px);
	}
	span.black_48{
		.tag_bg(0,-192px);
	}
        div.box{
		width:545px;
		height:48px;
		overflow:hidden;
		position:relative;
		div.items{
			height:48px;
			left:0px;
			position:relative;
			span.size48{
				width:48px;
				height:48px;
				line-height:48px;
				float:left;
				font-size:12px;
				color:#fff;
				text-align:center;
				cursor: pointer;
			}
			span.white_48{
				.tag_bg(0,0);
				color: #999;
			}
			span.blue_48{
				.tag_bg(0,-48px);
			}
			span.orange_48{
				color:#cb5331;
				.tag_bg(0,-48px);
			}
			span.green_48{
				.tag_bg(0,-144px);
			}
			span.black_48{
				.tag_bg(0,-192px);
			}		
		}
	
        }
}

//bind-view-template.jade
.bind_window{
  	width:420px;
	height:250px;
	position: absolute;
	left:50%;
	top:100px;
	margin-left:-215px;
	background:#FFFFFF;	
	z-index:13;
	.bind_header{
		vertical-align : middle;
		text-align:center;
    		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    		font-size: 17px;
    		line-height: 25px;
		background:#d8d8d8;
     		.head{
			margin-left:10px;
			margin-right:10px;
		}
	}
	div.info{
		height: 72px;
		text-align:center;
		margin-top: 5px;
	}	
	div.bind_body{
		ul.tab_frame{
			list-style:none;
			height:31px;
			margin-left:0px;
			margin-top: 10px;
			background:#FFFFFF;
			li{
				width:186px;
				height:31px;
				line-height:31px;
				text-align:center;
				float:left;
				margin-left: 16px;
				cursor: pointer;
			}
			li.tab{
				.sprites(-230px,-730px);
			}
		}
		div.user_bind{
			background:#b6b6b6;
			margin-left : 0px;
			margin-top  : -10px;
			width   :   360px;
			padding:30px;
			float: left;
                	fieldset{
				width:290px;
				margin:0 auto;
				border:medium none;
				legend{
					display: none;
				}
				form{
					li{
						list-style-type:none;
						margin:0;
					}	
					label.username{
						width:70px;
						height:37px;
						margin-bottom:20px;
					}
					label.password{
						width:70px;
						height:37px;
					}
					input{
						//color:#fff;
						height:27px;
						border:none;
						width:200px;
						//.sprites(-340px,-520px);
						float:right;
						margin-bottom:15px;
					}
					input.error{
						height:26px;
						border:1px solid #f00;
					}
					span.error{
						right:0px;
						max-width:500px;
						min-width:110px;
						padding:6px;
					}
				}
			}
			div.bind_ok{
				margin-top: 5px;
				margin-left : 137px;
			}
		} 
	}
}		
