.editUser {
  
}
#faceInfo,#setface{
  display:block;  
  margin-left: 40px;
  margin-top: 0px;
  _position:fixed;  
  position:relative; /* hack for internet explorer 6*/  
  _height:1200px;  
  _width:960px;  
  background:#888;
  border:1px solid #cecece;  
  z-index:12; 
}

.editUser .face  {
    margin-left: 170px;
    margin-top: 20px;
//    width: 35%;
    position: absolute;

}
.editUser .email {
    float: left;
    margin-left: 450px;
    margin-top: 20px;
//    width: 45%;
    position: absolute;

}
.editUser .rule  {
    float: left;
    margin-left: 450px;
    margin-top: 270px;
//    width: 45%;
    position: absolute;

}

.editUser .passedit {
    float: left;
    height: 500px;
   // margin-left: 850px;
   // margin-top: 20px;
 //   width: 35%;

}
.file {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.file input.hifile {
    cursor: pointer;
    font-size: 36px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: 0;
}
