#view {
  z-index: 10;
}
#view .masker_layer {
  z-index: 2;
}
#view .masker {
  z-index: 3;
}
#pop {
  z-index: 20;
}
#pop .masker_layer {
  z-index: 12;
}
#pop .masker {
  z-index: 13;
}
#setpop {
  left: 50%;
  position: absolute;
  z-index: 30;
  top: 80px;
}
#setpop .masker_layer {
  z-index: 10;
}
#setpop .masker {
  z-index: 11;
}
#setpop h2 {
  margin-left: 10px;
}
.masker {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  top: 0;
  left: 0;
}
.masker .bottom {
  height: 22px;
  width: 100%;
  position: absolute;
  margin-top: 671px;
}
.btn_group input {
  color: #fff;
  border: none;
  float: left;
}
.btn_group .verify {
  width: 165px;
  height: 37px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -340px -431px;
  display: block;
  margin-right: 15px;
}
.btn_group .cancel {
  width: 90px;
  height: 37px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -340px -476px;
  display: block;
}
.btn_group .cliper {
  display: block;
}
.btn_group .ok {
  margin-left: 15px;
  width: 165px;
  height: 37px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -340px -431px;
  display: block;
  margin-right: 15px;
}
.btn_group .empty {
  width: 90px;
  height: 37px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -340px -476px;
  display: block;
}
.close_w {
  width: 33px;
  height: 33px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -140px -160px;
  display: block;
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}
.masker_layer {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  top: 0;
  left: 0;
}
.small_pop {
  z-index: 20;
  width: 330px;
  border: 5px solid #f0f0f0;
  position: absolute;
  left: 50%;
  top: 150px;
  margin-left: -165px;
  background: #fff;
}
.small_pop .pop_title {
  height: 45px;
  line-height: 45px;
  margin: 0 5px;
  font-size: 24px;
  color: #bbbbbb;
  border-bottom: 1px solid #ebebeb;
  padding-left: 35px;
}
.small_pop .pop_body {
  padding: 10px 25px;
  margin: 0;
}
.small_pop .pop_body li {
  margin-bottom: 10px;
  list-style: none;
}
.small_pop .pop_body li.input_text input {
  width: 270px;
  height: 25px;
  border: 1px solid #ccc;
  margin-bottom: 0;
}
.small_pop .pop_body li.input_textarea textarea {
  width: 270px;
  height: 72px;
  border: 1px solid #ccc;
  margin-bottom: 0;
}
.small_pop .pop_body li.input_checkbox input {
  float: left;
  width: auto;
  height: auto;
}
.small_pop .pop_body .tag_box {
  height: 48px;
  min-width: 288px;
}
.small_pop .subject_note {
  height: 45px;
  line-height: 45px;
  margin: 0 5px;
  font-size: 24px;
  color: #bbbbbb;
  border-bottom: 1px solid #ebebeb;
  padding-left: 35px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -589px -296px;
  display: block;
}
.big_pop {
  position: absolute;
  left: 50%;
  top: 24px;
  margin-left: -350px;
  width: 700px;
  z-index: 2;
  position: absolute;
  background: url(../img/pop_left_bg.jpg) repeat-y left top #ffffff;
}
.big_pop .pop_title {
  height: 45px;
  line-height: 45px;
  color: #8b8b8b;
  background: url(../img/pop_left_title_bg.jpg) repeat-y left top #e7e7e7;
}
.big_pop .pop_right {
  padding-left: 80px;
}
.big_pop .pop_right section.pop_inner {
  padding: 10px 10px 10px 0;
}
.big_pop .pop_right .content_new {
  width: 600px;
  height: 470px;
  padding: 4px;
  border: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}
.big_pop .pop_right .content_new img {
  max-width: 475px;
}
.big_pop .subject_add {
  margin-top: 0px;
  height: 45px;
  line-height: 45px;
  color: #8b8b8b;
  background: url(../img/pop_left_title_bg.jpg) repeat-y left top #e7e7e7;
}
.big_pop .subject_add .pop_right .button_frame {
  float: right;
}
.big_pop .subject_add .pop_right .button_frame iframe {
  display: none;
}
.big_pop .subject_add .pop_right .button_frame .masker_layer1 {
  dispaly: none;
}
.big_pop .subject_add .pop_right .button_frame button {
  border: 0 none;
  width: 45px;
  float: left;
  height: 35px;
  line-height: 25px;
  color: #8b8b8b;
  text-align: left;
  position: relative;
  white-space: nowrap;
  padding: 0px;
}
.big_pop .subject_add .pop_right .button_frame span.close_w {
  top: -16px;
  right: -14px;
}
.big_pop .subject_add .pop_right .button_frame span#link_image {
  display: none;
}
.big_pop .subject_add .pop_right .button_frame #img_form {
  display: none;
}
.big_pop .subject_add .pop_right .button_frame button#localImg {
  display: none;
}
.big_pop .subject_add .pop_right .button_frame span.note_clip .note {
  background: url(../img/sprite.png) no-repeat;
  background-position: -580px -301px;
  display: block;
  margin-left: -70px;
}
.big_pop .subject_add .pop_right .button_frame span.url_text {
  display: none;
}
.big_pop .subject_add .pop_right .button_frame .format {
  display: none;
}
.big_pop .subject_add .pop_left {
  display: block;
}
.big_pop .subject_add .pop_left i {
  width: 45px;
  height: 45px;
  float: left;
}
img {
  border: none;
}
.login_window {
  width: 735px;
  height: 390px;
  position: absolute;
  left: 50%;
  top: 140px;
  margin-left: -367px;
  background: url(../img/login_bg.png) repeat left top #66517f;
  z-index: 13;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}
.login_window header {
  height: 95px;
}
.login_window header .logo {
  width: 145px;
  height: 71px;
  margin: 14px 25px;
  float: left;
  background: url(../img/sprite.png) no-repeat;
  background-position: -40px -15px;
  display: block;
}
.login_window header .login_right {
  height: 182px!important;
  top: -40px;
}
.login_window footer {
  height: 260px;
  padding-top: 60px;
  background: url(../img/login_bg.png) repeat left top #ffffff;
  box-shadow: inset 0 -10px 20px #999999;
}
.login_window footer .text_con {
  width: 465px;
  font-size: 18px;
  line-height: 1.8;
  margin: 0 auto;
}
.login_window footer .text_con .btn_frame {
  margin-top: 5px;
  padding-top: 30px;
}
.login_window footer .text_con .login_btn {
  float: none;
  margin: 0 auto;
  width: 135px;
  height: 40px;
  border: none;
  background: url(../img/sprite.png) no-repeat;
  background-position: -440px -475px;
  display: block;
}
.login_window .login_right {
  width: 360px;
  height: 180px;
  top: 20px;
  right: 20px;
  position: absolute;
  background: url(../img/login_right_bg.png) no-repeat left top;
}
.login_window .login_right #note_img {
  width: 340px;
  height: 431px;
  position: absolute;
  left: 40px;
  bottom: -360px;
}
.login_window .login_right .note_img_zh {
  background: url(../img/login_right_bg.png) no-repeat left bottom;
}
.login_window .login_right .note_img_en {
  background: url(../img/login_right_bg_en.png) no-repeat left bottom;
}
.login_window .login_left {
  width: 340px;
  height: 380px;
  padding: 30px;
  float: left;
}
.login_window .login_left .logo_bg {
  background: url(../img/sprite.png) no-repeat;
  background-position: -20px -475px;
  display: block;
  width: 300px;
  height: 135px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.login_window .login_left fieldset {
  width: 290px;
  margin: 0 auto;
  border: 0 none;
}
.login_window .login_left fieldset legend {
  display: none;
}
.login_window .login_left fieldset form {
  margin: 0 0 0 0;
}
.login_window .login_left fieldset form label.username {
  width: 100px;
  height: 35px;
  padding-top: 7px;
  color: white;
  font-size: 20px;
}
.login_window .login_left fieldset form li {
  list-style-type: none;
  margin-left: -20px;
}
.login_window .login_left fieldset form label.password {
  width: 100px;
  height: 35px;
  padding-top: 7px;
  color: white;
  font-size: 20px;
}
.login_window .login_left fieldset form .login_input {
  background: url(../img/sprite.png) no-repeat;
  background-position: -340px -520px;
  display: block;
  height: 35px;
  width: 205px;
  float: right;
}
.login_window .login_left fieldset form .login_input input {
  color: #fff;
  height: 27px;
  border: none;
  width: 197px;
  float: right;
  margin-bottom: 0px;
  background: none repeat scroll 00 transparent;
}
.login_window .login_left fieldset form .out_link {
  position: relative;
  width: 62px;
  top: -41px;
}
.login_window .login_left fieldset form input#remember {
  float: left;
  width: auto!important;
  height: auto!important;
}
.login_window .login_left fieldset form input.error {
  height: 26px;
  border: 1px solid #f00;
}
.login_window .login_left fieldset form span.next_login {
  color: #fff;
  position: relative;
  left: 41px;
  top: -40px;
  margin-left: 49px;
}
.login_window .login_left fieldset form span.next_login label {
  color: #FFFFFF;
  display: inline;
  margin-bottom: 0;
}
.login_window .login_left fieldset form span.next_login label #remember {
  display: inline;
  float: none;
}
.login_window .login_left fieldset form span.error {
  left: 250px;
  min-width: 150px;
  padding: 6px;
}
.login_window .login_left fieldset p {
  font-size: 14px;
  color: #d4ce86;
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -70px;
}
.login_window .login_left fieldset p a {
  color: #fff;
}
.login_window .login_left fieldset p.forgetpass {
  position: relative;
  margin-left: 90px;
  top: -12px;
}
.login_window .login_left .btn_frame {
  margin-top: 5px;
  position: relative;
  top: -37px;
}
.login_window .login_left .btn_frame input {
  float: left;
  border: none;
  font-size: 16px;
}
.login_window .login_left .btn_frame button {
  float: left;
  border: none;
  color: #fff;
  padding: 0;
  line-height: 36px;
}
.login_window .login_left .btn_frame span.l_register {
  color: #fff;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: -moz-anchor-decoration;
}
.login_window .login_left .btn_frame input.login_btn {
  width: 135px;
  height: 40px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -440px -475px;
  display: block;
  margin-left: 110px;
}
.tag_box span.size48 {
  width: 48px;
  height: 48px;
  line-height: 48px;
  float: left;
  font-size: 12px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.tag_box span.white_48 {
  background: url(../img/tag_bg.png) no-repeat 0 0;
  color: #999;
}
.tag_box span.blue_48 {
  background: url(../img/tag_bg.png) no-repeat 0 -48px;
}
.tag_box span.orange_48 {
  color: #cb5331;
  background: url(../img/tag_bg.png) no-repeat 0 -48px;
}
.tag_box span.green_48 {
  background: url(../img/tag_bg.png) no-repeat 0 -144px;
}
.tag_box span.black_48 {
  background: url(../img/tag_bg.png) no-repeat 0 -192px;
}
.btn_frame input {
  float: left;
  border: none;
  font-size: 16px;
}
.btn_frame input.reg_btn {
  width: 157px;
  height: 40px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -340px -385px;
  display: block;
  margin-right: 10px;
}
.btn_frame input.login_btn {
  width: 135px;
  height: 40px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -440px -475px;
  display: block;
}
#editor {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  border: 0px;
}
.noscroll {
  overflow: hidden !important;
}
