.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="#") Project name
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#contact") Contact
        p.navbar-text.pull-right Logged in as 
          a(href="#") username

.container-fluid
  .row-fluid
    .span3
      .well.sidebar-nav
        ul.nav.nav-list
          li.nav-header Sidebar
          li.active
            a(href="#") Link
          li
            a(href="#") Link
          li
            a(href="#") Link
          li
            a(href="#") Link
          li.nav-header Sidebar
          li
            a(href="#") Link
          li
            a(href="#") Link
          li
            a(href="#") Link
          li
            a(href="#") Link
          li
            a(href="#") Link
          li.nav-header Sidebar
          li
            a(href="#") Link
          li
            a(href="#") Link
          li
            a(href="#") Link

    .span9
      .hero-unit
        h1 Hello world!
        p This is a template for a simple marketing or information site.
        p
          a.btn.btn-primary.btn-large Learn more &raquo;
      .row-fluid
        .span4
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
          p
            a.btn(href="#") View detail &raquo;
        .span4
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
          p
            a.btn(href="#") View detail &raquo;
        .span4
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
          p
            a.btn(href="#") View detail &raquo;
      .row-fluid
        .span4
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
          p
            a.btn(href="#") View detail &raquo;
        .span4
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
          p
            a.btn(href="#") View detail &raquo;
        .span4
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
          p
            a.btn(href="#") View detail &raquo;

   hr

   footer
     p &copy; Company 2012
