//-!= code("views/js/lib/json2.js")
//-!= code("views/js/lib/jquery.js")
//-!= code("views/js/lib/jquery-ui.min.js")
//-!= code("views/js/lib/underscore.js")
//-!= code("views/js/lib/backbone.js")

!= code("views/js/lib/jquery.masonry.js")		
!= code("views/js/lib/jquery.tagsinput.js")
//-!= code("views/js/lib/backbone.marionette.js")

//-!= code("views/js/app-base.js")
//- userapp
!= code("views/js/user/app.userapp.js")
!= code("views/js/user/app.userapp.routing.js")
//- != code("views/js/user/app.userapp.register.js")
//- clipapp
!= code("views/js/clip/app.clipapp.js")
//- URL && util
!= code("views/js/clip/app.clipapp.url.js")
!= code("views/js/clip/app.clipapp.util.js")
//- user
!= code("views/js/clip/app.clipapp.register.js")
!= code("views/js/clip/app.clipapp.gotosetup.js")
!= code("views/js/clip/app.clipapp.login.js")
!= code("views/js/clip/app.clipapp.logout.js")
!= code("views/js/clip/app.clipapp.me.js")
!= code("views/js/clip/app.clipapp.useredit.js")
!= code("views/js/clip/app.clipapp.emailadd.js")
!= code("views/js/clip/app.clipapp.ruleedit.js")
//- bubb
!= code("views/js/clip/app.clipapp.bubb.js")
//- clip_detail
!= code("views/js/clip/app.clipapp.clipdetail.js")
!= code("views/js/clip/app.clipapp.clipedit.js")
!= code("views/js/clip/app.clipapp.clipadd.js")
!= code("views/js/clip/app.clipapp.editpaste.js")

//- clip_preview 
!= code("views/js/clip/app.clipapp.cliplist.js")
!= code("views/js/clip/app.clipapp.routing.js")

!= code("views/js/clip/app.clipapp.comment.js")
!= code("views/js/clip/app.clipapp.recommend.js")
!= code("views/js/clip/app.clipapp.reclip.js")
!= code("views/js/clip/app.clipapp.recliptag.js")
!= code("views/js/clip/app.clipapp.clipdelete.js")
!= code("views/js/clip/app.clipapp.memo.js")
!= code("views/js/clip/app.clipapp.query.js")

!= code("views/js/clip/app.clipapp.face.js")
!= code("views/js/clip/app.clipapp.followinglist.js")
!= code("views/js/clip/app.clipapp.followerlist.js")

!= code("views/js/clip/app.clipapp.findpass.js")
!= code("views/js/clip/app.clipapp.resetpass.js")

!= code("views/js/clip/app.clipapp.message.js")