!= code("views/js/lib/backbone.marionette.js")
!= code("views/js/app-base.js")
!= code("views/js/clip/app.clipapp.js")
!= code("views/js/clip/app.clipapp.url.js")
!= code("views/js/clip/app.clipapp.util.js")
!= code("views/js/clip/app.clipapp.login.js")
!= code("views/js/clip/app.clipapp.editpaste.js")
!= code("views/js/clip/app.clipapp.clipadd.js")
