!= code("views/js/lib/backbone.js")
!= code("views/js/lib/backbone.marionette.js")
!= code("views/js/app-base.js")
!= code("views/js/clip/app.clipapp.js")
!= code("views/js/clip/app.clipapp.routing.js")
!= code("views/js/clip/app.clipapp.url.js")
!= code("views/js/clip/app.clipapp.util.js")
!= code("views/js/clip/app.clipapp.login.js")
!= code("views/js/clip/app.clipapp.editpaste.js")
!= code("views/js/clip/app.clipapp.taglist.js")
!= code("views/js/lib/jquery.tagsinput.js")
!= code("views/js/clip/app.clipapp.memo.js")
!= code("views/js/clip/app.clipapp.clipadd.js")
!= code("views/js/clip/app.clipapp.message.js")
!= code("views/js/clip/app.clipapp.convert.js")
