<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link type="text/css" rel="stylesheet" href="css/main.css">
		<script language="javascript" src="js/clientjs.js"></script>
		<script language="javascript">
			$(document).ready(function(){
				$("[id$='-container']").corner();
				$("[class$='-container']").corner();
				var globalApp = new GlobalApp($("body"));

			})
		</script>
  </head>
  <body>
  	<div id="header" >
			<div id="logo-holder">
				<font size=7 color="#ffffff">LOGO</font>
			</div>
			<div id="user-holder">
				
			</div>
			<div id="userAction-holder">
					<a id="register_button">注册</a>&nbsp;&nbsp;
					<a id="login_button">登录</a>
			</div>
			<script type="text/template" id="register_template">
			<div>
				<label>用户名</label><input type="text" id="username_r" size="12"/><br>
				<label>密&nbsp;&nbsp;&nbsp;码</label><input type="password" id="password_r" size="12"/><br>
				<input type="button" value="注册" id="registerAction_button"/>
			</div>
			</script>
			<script type="text/template" id="login_template">
			<div>
				<label>用户名</label><input type="text" id="username_l" size="12"/><br>
				<label>密&nbsp;&nbsp;&nbsp;码</label><input type="password" id="password_l" size="12"/><br>
				<input type="button" value="登录" id="loginAction_button" />
			</div>
			</script>
			<script type="text/template" id="userUnit_template">
				<div>
					<div></div>
					<div><a id="userName_button"><%= name %></a></div>
					<div style="display:none" id="userOption"><a id="updatePwd_button">更改密码</a>&nbsp;&nbsp;<a id="logout_button">注销</a></div>
				</div>
			</script>
			<script type="text/template" id="updatePwd_template">
			<div>
				<label>原密码</label><input type="password" id="o_password" size="12"/><br>
				<label>新密码</label><input type="password" id="n_password" size="12"/><br>
				<input type="button" value="确认更改密码" id="updatePwdAction_button" />
			</div>
			</script>
			<div id="popUp-container">
				<div id="popupContact">  
					<a id="popupContactClose">X</a>   
					<div id="contactArea">
					</div>  
				</div>  
				<div id="backgroundPopup"></div>
			</div>
  	</div>
  	<div id="search-container">
  		<input type="text"  value="" id="keyword">
  		<a><img width=55 height=45 src="img/search.jpg"></a>
  	</div>
  	<script type="text/template" id="sort_template">
			<div class="filter-container">
				<%= title%>
				<hr/>
				<% for(var i=0;i<content.length;i++){%>
				<a href="<%= url[i] %>"><span class="filter-link"><%= content[i] %></span></a>
				<% }%>
			</div>
	</script>
  	<div id="filter-container">
  		
  		<div id="filter-reason-container" class="filter-container">
  			原因<hr/>
  		</div>
  		<div id="filter-purpose-container" class="filter-container">
  			目的<hr/>
  		</div>
  		<div id="filter-city-container" class="filter-container">
  			城市<hr/>
  		</div>
		<div id="filter-device-container" class="filter-container">
  			设备<hr/>
  		</div>
  	</div>
	<script type="text/template" id="clipPreview_template">
		<div id="container_<%=id%>" >
			<div class="content-container">
				<div class="feed-image">
				<%if(content.type == "html" && preview.image ) {%>
					<img src="<%= preview.image %>" style="width:160px;height:160px">
				<% }else if(content.type == "image"){%>
					
				<% } %>
				</div>
				<div class="feed-text">
					<%= preview.text %>
				</div>
				
				<div class="feed-device">设备：<%= device%></div>
				<div class="feed-city">城市：<%= city %></div>
				<div class="feed-detail"><a href="#/detail/<%= id %>">详细</a></div>
			</div>
		</div>
	</script>
  	<div id="page-home">
  		<div id="contentWrapper">

  		</div>
		<script type="text/template" id="detail_template">
			<div class="detail-container">
  				<div>
  					<div class="detail-back"><a href="#/detailback/<%= id%>">返回</a></div>
					<div class="detail-text">
				<%if(content.type == "text"){%>
					<%= content.text %>
				<%}else if(content.type == "html"){%>
					<%= content.html %>
				<%}else if(content.type == "image"){%>
				
				<%}%>
	  			</div>
				<div class="detai-note">
				<%if(note.text){%>
					备注：<%=note.text%>
				<%}%>
				<%if(note.sound){%>
					语音备注：
				<%}%>
				</div>
	  			<div class="detail-filter-container">
	  				<div id="reason-filter">
						<fieldset>
							<legend>原因</legend>
							<% for(var i=0;i<reason.length;i++){ %>
								<span class=""><strong><%=reason[i]%>&nbsp;&nbsp;</strong></span>
							<%}%>
						</fieldset>
	  				</div>
	  				<div id="purpose-filter">
	  					<fieldset>
							<legend>目的</legend>
							<% for(var i=0;i<purpose.length;i++){ %>
								<span class=""><strong><%=purpose[i]%>&nbsp;&nbsp;</strong></span>
							<%}%>
						</fieldset>
	  				</div>
					<div id="device-filter">
	  					<fieldset>
							<legend>设备</legend>
								<span class=""><strong><%=device?device:""%></strong></span>
						</fieldset>
	  				</div>
	  				<div id="city-filter">
	  					<fieldset>
							<legend>城市</legend>
							<span class=""><strong><%=city?city:""%></strong></span>
						</fieldset>
	  				</div>
	  			</div>
  				</div>
  				
  			</div>
		</script>
  	</div>
  </body>
</html>
