<script id="addcomm-view-template" type="text/template">
  <div>
    <textarea id="comm_text" rows="3" cols="35">评论文本框</textarea>
    <br/>
    <input id="comm1" type="button" value="好看" class="comm">
    <input id="comm2" type="button" value="好听" class="comm">
    <input id="comm3" type="button" value="好吃" class="comm">
    <input id="comm4" type="button" value="好玩" class="comm">
    <input id="comm5" type="button" value="酷" class="comm">
    <input id="<%= id%>" class="addComment" type="button" value="发表">
  </div>
</script>
