<script type="text/template" id="addClip-view-template">
 <div id="clip_popup">
  <div id="popup_Contact">
    <div id="top">增</div>
    <div id="left"><input type="button" id="remark" value="注"/></div>
    <div id="right">
      <iframe name="post_frame" id="post_frame" style="display:none;" mce_style="display:none;"></iframe>
      <form method="POST" id="img_form" action="<%=actUrl%>" target="post_frame" enctype="multipart/form-data">
	<span class="file">
	  <input type="button" class="edit_img" id="localImg" value="本地图片">
	  <input id="formUpload" class="hifile" type="file" name="image">
	</span>
      </form>
      <input type="button" class="edit_img" id="exImg" value="链接图片"/>
      <input type="button" class="edit_img" id="upformat" value="整理格式"/>
    </div>
    <!-- a title="插入文字" href="javascript:void(0)" id="insText">插入文字</a>&nbsp;&nbsp; -->
    <form id="myForm" method="post">
      <iframe frameborder='0.5' id="editor" class="editor" frameborder="0" height="200" width="500"></iframe>
      <br/>
      <input type="button" title="保存" id="save" value="确定"/>
      <input type="button" title="放弃"  id="abandon" value="取消"/>
    </form>
  </div>
 </div>
</script>
