<!-- comment template -->
<script type="text/template" id="addcomm-view-template">
    <textarea  id="comm_text" rows="3" cols="30" >评论文本框~</textarea><br>
    <input type="button" class="comm" id="comm_1" value="好看" />
    <input type="button" class="comm" id="comm_2" value="好听" />
    <input type="button" class="comm" id="comm_3" value="好吃" />
    <input type="button" class="comm" id="comm_4" value="好玩" />
    <input type="button" class="comm" id="comm_5" value="酷" /><br>
    <% if(!self){ %>
      <input type="checkbox" name="collect" id="reply"/>
      <label for="reply">同时收</label>
    <% } %>
    <input type="button" value="发表" id="ok_button"/>
    <input type="button" value="取消" id="cancel_button"/>
  </div>
</script>
    
    
