<script type="text/template" id="addClip-view-template">
 <div id="clip_popup">
  <div id="popup_Contact">
    <div id="top">增</div>
    <div id="left"><input type="button" id="edit_remark" value="注"/></div>
    <div id="right">
      <input type="button" class="edit_img" id="localImg" value="上传图片"/>
      <input type="button" class="edit_img" id="exImg" value="链接图片"/>
      <input type="button" class="edit_img" id="upformat" value="整理格式"/>
    </div>
    <div id="imgUploadDiv"></div>
    <div class="addClip-container">
      <a title="插入文字" href="javascript:void(0)" id="insText">插入文字</a>&nbsp;&nbsp;
    </div>
    <input type="submit" title="保存" id="save" value="确定"/>
    <input type="reset" title="放弃"  id="abandon" value="取消"/>
  </div>
 </div>
</script>
