script(type="text/template",id="addClip-view-template")
  div.masker_layer
  section.big_pop
    h2.subject_add
      div.pop_left
        i.note
      div.pop_right
        | 增
        div.button_frame
          iframe(name="post_frame",id="post_frame")
          |<form method="POST" id="img_form" action="<%= App.util.getImg_upUrl()%>" target="post_frame" enctype="multipart/form-data">
          |<span class="file">
          |<button class="upload_img" id="localImg">上传图片</button>
          |<input id="formUpload" class="hifile" type="file" name="image" onchange="return App.ClipApp.ClipAdd.image_change(this)">
          |</span>
          |</form>
          span
            button.link_img 链接图片
            span.url_text.img_upload_span
              input.text#img_upload_url(type="text")
              input.btn_img(type="submit",value="确定")
          span
            button.format 整理格式
          span.close_w
            |&nbsp&nbsp&nbsp&nbsp&nbsp
    div.pop_left
    div.pop_right
      section.pop_inner
        article.content.content2
          //- css 中设置iframe无边框在ie8- 中不起作用
          iframe#editor(frameborder="no",border="0")
        div.btn_group.clearfix
          input.verify(type="button",id="save",title="保存",value="保存")
          input.cancel(type="button",id="cancel",title="取消",value="取消")
          input.cliper(type="button",id="ok",title="确定",value="确定")
          input.cliper(type="button",id="empty",title="清空",value="清空")