script(type="text/template",id="addClip-view-template")
  div.masker_layer
  div.masker
    section.big_pop
      h2.subject_add
        div.pop_left
        div.pop_right
          div.button_frame
            |<form method="POST" id="img_form" action="<%= App.ClipApp.img_upUrl()%>" target="upload_target" enctype="multipart/form-data">
            |<span class="file">
            |<button class="upload_img" id="localImg" title="<%=_i18n('addClip.upload')%>"></button>
            |<input id="formUpload" class="hifile" type="file" title="<%=_i18n('addClip.upload')%>" name="image" onchange="return App.ClipApp.ClipAdd.image_change(this)">
            |</span>
            |</form>
            div.masker_layer1
            span#link_image
              | <button class="link_img" title="<%=_i18n('addClip.link')%>"></button>
              span.url_text.img_upload_span
                input.text#img_upload_url(type="text")
                | <input type="submit" class="btn_img" value="<%=_i18n('addClip.ok')%>" />
            span.close_w
              //- ie-7 若不加空格则右上角关闭按钮不显示
              |&nbsp&nbsp&nbsp&nbsp&nbsp
          //- ie-7 文字若不放到此位置导致显示格式不正确
          | <%=_i18n('addClip.title')%>
      div.pop_right
        section.pop_inner
          article.content_new
            //- css 中设置iframe无边框在ie8- 中不起作用
            iframe#editor(frameborder="no",border="0")
          article.settags
          div.btn_group.clearfix.
            <input type="button" class="verify" id="save" title="<%=_i18n('addClip.ok')%>" value="<%=_i18n('addClip.ok')%>" />
            <input type="button" class="cancel" id="cancel" title="<%=_i18n('addClip.cancel')%>" value="<%=_i18n('addClip.cancel')%>" />
            <input type="button" class="cliper ok" id="ok" title="<%=_i18n('addClip.back')%>" value="<%=_i18n('addClip.back')%>" />
            <input type="button" class="cliper empty" id="empty" title="<%=_i18n('addClip.clean')%>" value="<%=_i18n('addClip.clean')%>" />
    div.bottom

script(type="text/template",id="memo-view-template")
  ul
    <%if(edit){%>
    li.tag_box.
      <% for(var i=0;i<main_tag.length;i++){ %> 
      <span <% if(main_tag[i].checked) { %>class="size48 orange_48"<% }else{%> class="size48 white_48"<% } %> id="main_tag_<%=i%>"><%=main_tag[i].tag%></span> <% } %>
      <label>
        <%=_i18n('clipmemo.private')%>&nbsp;
        <input type="checkbox" id="memo_private" <% if(pub=="false"){ %>checked="checked" <% } %>/>
      </label>
    li.tag_input.
      <input type="text" class="obj_tags" id="obj_tag" value="<%=obj_tag.join(",")%>" />
    <% } else { %>
    <% if(pub=='false' || obj_tag.length > 0 || _.filter(main_tag, function(e){return e.checked }).length > 0) { %>
    li.tag_list.
      <% for(var i=0; i<main_tag.length; i++){ if(main_tag[i].checked) {%>
      <span class='sbubb' title=<%=main_tag[i].tag%>><a href='#<%=uid%>/tag/<%=main_tag[i].tag%>' target='_blank'><%=main_tag[i].tag%></a></span></div>
      <% }} for(var i=0; i<obj_tag.length; i++){ %>
      <span class='stag' title=<%=obj_tag[i]%>><a href='#<%=uid%>/tag/<%=obj_tag[i]%>' target='_blank'><%=obj_tag[i]%></a></span><div>
      <% } %>
      <%if(pub=="false"){%>
      <dt class="private"></dt>
      <%}%>
    <% }} %>