//- templates
include login-view-template
include register-view-template
include me-view-template
include userface-view-template
include bind-view-template
include help-view-template

include editUser-view-template

include detail-view-template
include editDetail-view-template
include addclip-view-template
include comment-view-template

include delete-view-template
include reclip-view-template
include recommend-view-template
include clipmemo-view-template

include clippreview-view-template
include queryclip-view-template

include following-view-template
include follower-view-template

include findpass-view-template
include resetpass-view-template
include gotosetup-view-template

include message-view-template
include taglist-view-template
include feedback-view-template