//- templates
include login-view-template
include me-view-template
include userface-view-template

include register-view-template.html
include editUser-view-template

include detail-view-template
include editDetail-view-template
include addclip-view-template
//-include localImg-view-template.html
//-include showcomment-view-template.html
//-include addcomm-view-template.html
include comment-view-template

include delete-view-template
include reclip-view-template
include recommend-view-template
include clipmemo-view-template

//include namelist-view-template.html
include clippreview-view-template
include objtag-view-template.html
include queryclip-view-template

include following-view-template
include follower-view-template

include findpass-view-template
include resetpass-view-template
include gotosetup-view-template

include message-view-template
include userTag-view-template