script(type="text/template",id="bind-view-template") 
  div.masker_layer
  section.bind_window
    div.bind_header
      div.head
        <%=_i18n('bind.header',provider)%>
    span.close_w
    |<div class="info"><a href="<%=info.url%>" target="_blank"><img src="<%=info.face%>"></img><br><%=info.name%></a></div>
    div.bind_body
      ul.tab_frame
        li(id="user_have",class="tab") <%=_i18n('bind.bind')%>
        li(id="user_not",class="") <%=_i18n('bind.register')%>
      div.user_bind
        div.logo_bg
        fieldset
          form(action="",method="")
            li
              input(type="text",name="name",id="name")
              label.username
                | <%=_i18n('login.name.name')%>
            li
              input(type="password",name="pass",id="pass")
              label.password
                | <%=_i18n('login.pass.pass')%>
        div.btn_frame.bind_ok.
          <input type="button" class="reg_btn" id="bind_ok" value="<%=_i18n('bind.bind_ok')%>" />