script(type="text/template",id="bind-view-template")
  div.masker_layer
  section.bind_window
    div.bind_header.
      您已登录<%=provider%>，但尚未将此帐号绑定给任何帐户。
    span.close_w
    |<div class="info"><a href="<%=info.url%>" target="_blank"><img src="<%=info.face%>"></img><br><%=info.name%></a></div>
    div.bind_body
      ul.tab_frame
        li(id="user_hava",class="tab") 绑定已有帐户
        li(id="user_not",class="") 注册新帐户
      div.user_bind
        div.logo_bg
        fieldset
          legend|用户登陆
          form(action="",method="")
            li
              input(type="text",name="name",id="name")
              label.username
            li
              input(type="password",name="pass",id="pass")
              label.password
        div.btn_frame.bind_ok
          input.reg_btn(type="button",id="bind_ok",value="立即绑定")