script(type="text/template",id="clippreview-view-template")
  //- clip_item 用来绑定mouseEnter事件
  div.clip_item
    <% if(recommend){ %>
    hgroup.clearfix.
      <a href="/#user/<%=recommend.user.id%>" class="recommened",id="recommend_<%=recommend.user.id%>">
        <div class="user_info_small">
          <img src="<%=App.util.face_url(recommend.user.face,50)%>" title="<%=recommend.user.name%>" onerror="this.src='img/f.jpg'"/>
        </div>
      </a>&nbsp;&nbsp;
      <div class="user_text">
        <%=recommend.text%>
      </div>
      <%}%>
    header#header
      <% if(content && content.image) {%>
      div.article_photo
        | <img src="<%=App.util.url(content.image)%>" alt="抱歉，此图片不存在"/>
      <% }if(content && content.text){%>
      <%if(!content.image){ %>
      div.article_con(style="font-size: 16px;line-height: 2.0")
        br
        | <%= content.text %>
      <%}else{%>
      div.article_con
        | <%= content.text %>
      <%}}%>
    footer.master
      div.metas.icons_frame
        span.icon_block
          i.icon_biezhen
          | <%=reprint_count?reprint_count:0%> 转载
        span.icon_block
          i.icon_quote
          | <%=reply_count?reply_count:0%> 回复
      div.user_info_small
        <% if(user && App.ClipApp.ClipList.flag_show_user){ %>
        div.user_more
          | <a class="author" href="/#user/<%=user.id%>">
          |   <img src="<%=App.util.face_url(user.face,50)%>"/>
          dl.name
            dt.
              <%=user.name%>
          </a>
        <%}%>
      div.action#opt(style="display:none;").
        <% if( App.util.self(user.id) ) {%>
          <i class="note operate" title="注" id="<%=user.id%>:<%=id%>"></i>
          <i class="change operate" title="改" id="<%=user.id%>:<%=id%>"></i>
          <i class="del operate" title="删" id="<%=user.id%>:<%=id%>"></i>
        <% } else {%>
          <i class="biezhen operate" title="收" id="<%=user.id%>:<%=id%>"></i>
          <i class="refresh operate" title="转" id="<%=user.id%>:<%=id%>"></i>
          <i class="comment operate" title="评" id="<%=user.id%>:<%=id%>"></i>          
        <% } %>
    <%if(content && content.image){ %>
    span.biezhen
    <%}%>
    b.comer_topleft
    b.comer_topright
    b.comer_bottomleft
    b.comer_bottomright

