<script type="text/template" id="clippreview-view-template">
  <div id="container_<%=clip.user%>_<%=clip.id%>" >
    <div class="preview-item">
      <div class="recommend-info recommendWrapA">
	<% if(recommend){ %>
	<a href="/#user/<%=recommend.user.id%>" class="recommened",id="recommend_<%=recommend.user.id%>"><img src="<%= App.util.face_url(recommend.user.id,recommend.user.face) %>" width="50" height="50"/><apan class="recommened",id="recommend_<%=recommend.user.id%>"/><%=recommend.user.name%></a>&nbsp;&nbsp;<span class="recomend-text"><%=recommend.text%></span><%}%>
      </div>
      <div class="preview-info">
	
	<div id="opt" style="display:none">
	  <input type="button" id="<%=clip.user%>:<%=clip.id%>" value="<%= manage[0]%>" class="operate"/>
	  <input type="button" id="<%=clip.user%>:<%=clip.id%>" value="<%= manage[1]%>" class="operate"/>
	  <input type="button" id="<%=clip.user%>:<%=clip.id%>" value="<%= manage[2]%>" class="operate"/>
	</div>

	<span class="info-text">本条信息</span>
	<% if(clip.city){%>
	<span class="into-text">在城市</span>
	<span class="info-city">
	  <a href="/#clip/city/<%=clip.city%>/p1"><%=clip.city%></a>
	</span>
	<%}%>
	<% if(clip.device){%>
	<span class="info-text">使用设备</span>
	<span class="info-device">
	  <a href="/#clip/device/<%=clip.device%>/p1"><%= clip.device%></a>
	</span>
	<%}%>
        <span class="info-text">搜集</span>
        <a title="详细" class="detailButton controlSprite" id="detail">详细</a>
	<div class="content-container">
	  <% if(clip.content && clip.content.image) {%>
	  <div class="preview-image">
	    <img src="<%= App.util.url(clip.content.image) %>"> 
	  </div>
	  <% } %>
	  <% if(clip.content && clip.content.text){ %>
	  <p class="preview-text"><%= clip.content.text %></p>
	  <%}%>
	</div>
	<div class="preview-note notesWrapA">
	  <% if(clip.note && clip.note.text){%>
	  <p class="note-text">备注：<%= clip.note.text %></p>
	  <%}%>
	</div>
      </div><br>
      <div>
	<span class="info-text" id="comment" style="float:right">回复(<%=clip.reply_count?clip.reply_count:0%>)</span>
	<span class="info-text" id="reclip" style="float:right">转摘(<%=clip.reprint_count?clip.reprint_count:0%>)</span>
      </div>
      <div class="user-info">
	<% if(!App.ClipApp.getMyUid() && clip.author){ %>
	<a href="/#user/<%=clip.author.id%>" class="author"><img src="<%=App.util.face_url(clip.author.id,clip.author.face)%>" width="50" height="50" />&nbsp;<span class="author"><%=clip.author.name%></span></a>
	<%}%>
      </div>
    </div>
  </div>
</script>
