script(type="text/template",id="clippreview-view-template")
  //- clip_item 用来绑定mouseEnter事件
  div.clip_item
    <% if(recommend){ %>
    hgroup.clearfix.
      <div class="user_info_small">
        <a href="/#user/<%=recommend.user.id%>" class="recommend",id="recommend_<%=recommend.user.id%>">
          <img src="<%=App.util.face_url(recommend.user.face,50)%>" title="<%=recommend.user.name%>" onerror="this.src='img/f.jpg'"/>
        </a>
      </div>
      <dt class="username">
        <a href="/#user/<%=recommend.user.id%>" class="recommend",id="recommend_<%=recommend.user.id%>">
          <%= recommend.user.name === undefined ? "" : recommend.user.name%>
        </a>
        <div class="recommend_time">
          <span><%= App.util.generatePastTime(recommend.Date)%></span>
        </div>
      </dt>
      <div class="user_text">
      <% if(recommend.text){%>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=recommend.text%>
      <%}%>
      </div>
      <%}%>
    <% if(public == "false"){ %>
    header#header.type_self
      <dt class="type_text">仅自己可见</dt>
      <% if(content && content.image) {%>
      | <img class="img_fake fake_img_<%=id.replace(/:/g,'_')%>" src="img/_wait.gif"/>
      div.article_photo
        | <img class="img_<%=id.replace(/:/g,'_')%>" id="img_<%=id.replace(/:/g,'_')%>" onload="App.util.img_load(this)" onerror="App.util.img_error(this)" src="<%=App.util.url(content.image)%>"/>
      <% }if(content && content.text){%>
      div.article_con
        <%if(!content.image){ %>
        br
        <%}%>
        | <%= content.text %>
      <%}%>
    <% }else{ %>
    header#header
      <% if(content && content.image) {%>
      | <img class="img_fake fake_img_<%=id.replace(/:/g,'_')%>" src="img/_wait.gif"/>
      div.article_photo
        | <img class="img_<%=id.replace(/:/g,'_')%>" id="img_<%=id.replace(/:/g,'_')%>" onload="App.util.img_load(this)" onerror="App.util.img_error(this)" src="<%=App.util.url(content.image)%>"/>
      <% }if(content && content.text){%>
      div.article_con
        <%if(!content.image){ %>
        br
        <%}%>
        | <%= content.text %>
      <%}%>
    <%}%>
    footer.master
      div.metas
        span.icon_block
          | <%=refby ? refby : 0%>&nbsp; <%=_i18n('clippreview.repby')%>
        span.icon_block
          | <%=reply ? reply : 0%>&nbsp; <%=_i18n('clippreview.reply')%>
      div.user_info_small
        <% if(user && App.ClipApp.ClipList.flag_show_user){ %>
        div.user_more
          | <a class="author" href="/#user/<%=user.id%>">
          |   <img src="<%=App.util.face_url(user.face,50)%>"/>
          dl.name
            dt.
              <%=user.name === undefined ? "" : user.name%>
          </a>
        <%}%>
      div.action#opt(style="display:none;").
        <% if( App.ClipApp.isSelf(user.id) ) {%>
          <i class="note operate" title="<%=_i18n('clippreview.memo')%>" id="<%=user.id%>:<%=id%>"></i>
          <i class="modify operate" title="<%=_i18n('clippreview.update')%>" id="<%=user.id%>:<%=id%>"></i>
          <i class="del operate" title="<%=_i18n('clippreview.delete')%>" id="<%=user.id%>:<%=id%>"></i>
        <% } else {%>
          <i class="reclip operate" title="<%=_i18n('clippreview.reclip')%>" id="<%=user.id%>:<%=id%>"></i>
          <i ></i>
          <!--<i class="recommend operate" title="<%=_i18n('clippreview.recommend')%>" id="<%=user.id%>:<%=id%>"></i>-->
          <i class="comment operate" title="<%=_i18n('clippreview.comment')%>" id="<%=user.id%>:<%=id%>"></i>          
        <% } %>
    span.biezhen
    b.comer_topleft
    b.comer_topright
    b.comer_bottomleft
    b.comer_bottomright

