script(type="text/template",id="clippreview-view-template")
  //- clip_item 用来绑定mouseEnter事件
  div.clip_item(style="min-height: 307px;")
    <% if(recommend){ %>
    hgroup.clearfix.
      <a href="/#user/<%=recommend.user.id%>" class="recommened",id="recommend_<%=recommend.user.id%>">
        <div class="user_info_small">
          <img src="<%=App.util.face_url(recommend.user.face)%>" title="<%=recommend.user.name%>"/>
        </div>
      </a>&nbsp;&nbsp;
      <div class="user_text">
        <%=recommend.text%>
      </div>
      <%}%>
    header#header(style="min-height: 216px;")
      <% if(clip.content && clip.content.image) {%>
      div.article_photo
        | <img src="<%= App.util.url(clip.content.image)%>" />
      <% }if(clip.content && clip.content.text){%>
      <%if(clip.content && clip.content.text && !clip.content.image){ %>
      div.article_con(style="font-size: 16px;line-height: 2.0")
        br
        | <%= clip.content.text %>
      <%}else{%>
      div.article_con
        | <%= clip.content.text %>
      <%}}%>
    footer.master
      div.metas.icons_frame
        span.icon_block
          i.icon_biezhen
          | <%=clip.reprint_count?clip.reprint_count:0%> 转载
        span.icon_block
          i.icon_quote
          | <%=clip.reply_count?clip.reply_count:0%> 回复
      div.user_info_small
        <% if(clip.user && App.ClipApp.ClipList.flag_show_user){ %>
        div.user_more
          | <a class="author" href="/#user/<%=clip.user.id%>">
          |   <img src="<%=App.util.face_url(clip.user.face)%>" width="50" height="50" />
          dl.name
            dt.
              <%=clip.user.name%>
          </a>
        <%}%>
      div.action#opt(style="display:none;").
        <% if( App.util.auth(clip.user.id) ) {%>
          <i class="note operate" title="备注" id="<%=clip.user.id%>:<%=clip.id%>"></i>
          <i class="change operate" title="修改" id="<%=clip.user.id%>:<%=clip.id%>"></i>
          <i class="del operate" title="删除" id="<%=clip.user.id%>:<%=clip.id%>"></i>
        <% } else {%>
          <i class="biezhen operate" title="收藏" id="<%=clip.user.id%>:<%=clip.id%>"></i>
          <i class="refresh operate" title="转发" id="<%=clip.user.id%>:<%=clip.id%>"></i>
          <i class="comment operate" title="评论" id="<%=clip.user.id%>:<%=clip.id%>"></i>          
        <% } %>
    span.biezhen
    b.comer_topleft
    b.comer_topright
    b.comer_bottomleft
    b.comer_bottomright

