script(type="text/template",id="organize-view-template")
  div.masker_layer
  section.small_pop
    span.close_w
    h2.subject_note 注
    ul.pop_body
      li.tag_box.
        <% for(var i=0;i<main_tag.length;i++){ %> 
        <span <% if(main_tag[i].checked) { %>class="size48 orange_48"<% }else{%> class="size48 white_48"<% } %> id="main_tag_<%=i%>"><%=main_tag[i].tag%></span> <% } %>
      li.
        <input type="text" class="obj_tags" id="obj_tag" value="<%=obj_tag.join(",")%>" />
        <div class="ul-list" id="taglistDiv"></div> 
      li.input_textarea.
        <textarea id="organize_text"><% if(note){%><%=note%><% }else{ %>备注一下吧~<%}%></textarea>
      li.input_checkbox
        label
          | <input type="checkbox" id="memo_private" <% if(pub=="false"){ %>checked="checked" <% } %>/>
          | 不公开
      li.btn_group.clearfix
        input.verify(type="button",id="organize_button",value="确定")
        input.cancel(type="button",id="cancel_button",value="取消")