script(type='text/template', id='clippreview-view-template')
    | <div id="container_<%=id%>">
    div.preview-item
      div.preview-info
        span.info-test
          | 本条信息
        <% if(this.city && this.city != ""){%>
        span.info-text.test
          | 在城市
        span.info-city
          a(href='#/clip/city/<%=city%>/p1')
            <%=city%>
        <% } %>
        <% if(device && device != ""){%>
        span.info-text
          | 使用设备
        span.info-device
          a(href='#/clip/device/<%=device%>/p1')
            <%=device%>  
        <% } %>
        span.info-test
          | 搜集
        a.detailButton.controlSprite
        div.content-container
          <% if(content.image) {%>
          div.preview-image
            <%=content.image%>
            | <img src='<%=content.image%>'>
          <% } %>
          <% if(content.text){ %>
          p.preview-text
            <%= content.text %>
          <% } %>
          div.preview-note
            <% if (note.text && note.text != " "){%>
            p.note-text
              | 备注：<%= note.text %>
            <% } %>
    | </div>