<script type="text/template" id="clippreview-view-template">
  <div id="container_<%=user%>_<%=id%>" >
    <div class="preview-item">
      <div class="recommend-info recommendWrapA">
	<% if(recommend){%>
	<span class="recomend-text"><%=recommend.text%></span>
	<a href="#/recommendhomepage/<%=recommend.uid%>" class="recommend",id="recommend_<%=recommend.uid%>_<%=id%>"><img src="<%=recommend.image%>" width="50" height="50"/></a>&nbsp;&nbsp;
	<a class="recommend",id="recommend_<%=recommend.uid%>_<%=id%>" href="#/recommendhomepage/<%=recommend.uid%>"><%=recommend.name%></a>
	<%}%>
      </div>
      <div class="preview-info">
	<span class="info-text">本条信息</span>
	<% if(city){%>
	<span class="into-text">在城市</span>
	<span class="info-city">
	  <a href="#/clip/city/<%=city%>/p1"><%=city%></a>
	</span>
	<%}%>
	<% if(device){%>
	<span class="info-text">使用设备</span>
	<span class="info-device">
	  <a href="#/clip/device/<%=device%>/p1"><%= device%></a>
	</span>
	<%}%>
        <span class="info-text">搜集</span>
        <a title="详细" class="detailButton controlSprite" id="detail">详细</a>
      </div>
      <div class="content-container">
	<% if(content.image) {%>
	<div class="preview-image left">
	  <img src="<%= App.util.url(user,content.image) %>">
	<% } %>
	<% if(content.text){ %>
	<p class="preview-text"><%= content.text %></p>
	<%}%>
	</div>
      </div>
      <div class="preview-note notesWrapA">
	<% if(note.text){%>
	<p class="note-text">备注：<%= note.text %></p>
	<%}%>
      </div><br>
      <div>
	<span class="info-text" id="comment" style="float:right">回复(<%=reply_count%>)</span>
	<span class="info-text" id="reclip" style="float:right">转摘(<%=reprint_count%>)</span>
      </div>
      <div class="user-info">
	<% if(author){%>
	<a href="#/authorhomepage/<%=author.id%>" class="author",id="author_<%=user%>_<%=id%>"><img src="<%=App.util.face_url(author.id,author.face)%>" width="50" height="50"/></a>&nbsp;<a class="author", id="author_<%=user%>_<%=id%>" href="#/authorhomepage/<%=author.id%>"><%=author.name%></a>
	<%}%>
      </div>
    </div>
  </div>
</script>
