<script type="text/template" id="organize-view-template">
 <div align="center"  style="position:relative;left:500px;top:50px;width:400px;height:300px;background:yellow;z-index:400;display:block; ">
  <label>注</label><br>
  <% var c1=c2=c3=c4=c5=""; for(i=0;i < main_tag.length; i++){ switch(main_tag[i]){case "好看":c1="red";break; case "好听":c2="red";break; case "好吃":c3="red";break; case "好玩":c4="red";break; case "酷":c5="red";break;} 
     } %>
  <input type="button" class="main_tag" id="main_tag_1" value="好看" style="background:<%=c1%>;"/>
  <input type="button" class="main_tag" id="main_tag_2" value="好听" style="background:<%=c2%>;"/>
  <input type="button" class="main_tag" id="main_tag_3" value="好吃" style="background:<%=c3%>;"/>
  <input type="button" class="main_tag" id="main_tag_4" value="好玩" style="background:<%=c4%>;"/>
  <input type="button" class="main_tag" id="main_tag_5" value="酷" style="background:<%=c5%>;"/>
  <input id="obj_tag" type="text" class="obj_tags" value="<% if (obj_tag){%><%=obj_tag.join(',') %><% } %>"><br>
  <textarea  id="organize_text" rows="3" cols="40" ><% if (note) { %><%=note%><% }else{%>备注一下吧~<% } %></textarea><br>
  <input type="checkbox" name="memo_private" id="memo_private" align="right"/>
  <label for="memo_private">不公开</label><br>
  <input type="button" value="确定" id="organize_button"/>
  <input type="button" value="取消" id="cancel_button"/>
 </div>
</script>
