<!-- comment template -->
<script type="text/template" id="comment-view-template">
  <div align="center"  style="position:relative;left:500px;top:50px;width:300px;height:200px;background:yellow;z-index:400;display:block; ">
    <label>评</label><br>
    <textarea  id="comm_text" rows="3" cols="30" >说点什么吧~</textarea><br>
    <input type="button" class="main_tag" id="main_tag_1" value="好看" />
    <input type="button" class="main_tag" id="main_tag_2" value="好听" />
    <input type="button" class="main_tag" id="main_tag_3" value="好吃" />
    <input type="button" class="main_tag" id="main_tag_4" value="好玩" />
    <input type="button" class="main_tag" id="main_tag_5" value="酷" /><br>
    <input type="checkbox" name="collect" id="collect"/>
    <label for="collect">同时收</label><br>
    <input type="button" value="确定" id="commentok_button"/>
    <input type="button" value="取消" id="cancel_button"/><br>
    <span class="error"><%= typeof error != "undefined" && error.auth ? error.auth : "" %></span>
  </div>
</script>

    
    
