script(type='text/template',id='comment-view-template')
  div.masker_layer
  section.small_pop
    span.close_w
    h2.subject_comment 评
    ul.pop_body
      li.input_textarea
        |<textarea id="comm_text">说点什么吧~</textarea>
      li.tag_box
        span.size48.white_48#main_tag_1 好看
        span.size48.white_48#main_tag_2 好听
        span.size48.white_48#main_tag_3 好吃
        span.size48.white_48#main_tag_4 好玩
        span.size48.white_48#main_tag_5 精辟
        span.size48.white_48#main_tag_6 酷  
      li.input_checkbox
        label
          input(type="checkbox",id="reclip_box")
          | 同时收
      li.btn_group.clearfix
        input.verify(type="button",value="确定",id="submit")
        input.cancel(type="button",value="取消",id="cancel")
