script(type='text/template', id='delete-view-template')
  div(align="center",style="width:200px;height:200px;background:yellow;")		
    br		
    label 删
    br
    br
    label 你真的想要删除？
    br
    br
    br
    label 删除后不可恢复。
    br
    br 
    input(type='button',value='确定',id='deleteok_button')	
    input(type='button',value='取消',id='cancel_button')	