script(type='text/template', id='delete-view-template')
  div.masker_layer
  section.small_pop
    span.close_w
    h2.subject_del <%=_i18n('delete.title')%>
    ul.pop_body
      li.alert.alert-error.
        <h3 calss="alert-heading"><%=_i18n('delete.h3')%></h3>
        <p><%=_i18n('delete.p')%></p>
      li.btn_group.clearfix.
        <input type="button" class="verify" id='deleteok_button' value="<%=_i18n('delete.ok')%>" />
        <input type="button" class="cancel" id='cancel_button' value="<%=_i18n('delete.cancel')%>" />