script(type="text/template",id="detail-view-template")
  div.masker_layer
  section.big_pop
    h2.subject_edit
      div.pop_left
        span.breadcrumbs
          |路径图
      div.pop_right.
        <% if(!self) {%>
          <i class="comment operate"></i>
          <i class="refresh operate"></i>
          <i class="biezhen operate"></i>
        <% }else {%>
          <i class="del operate"></i>
          <i class="change operate"></i>
          <i class="note operate"></i>
        <% } %>
        <span class="close_w"></span>
    div.pop_left
      ul.forward_log.
        <% for(var i =0; i<users.length; i++){%>
        <li class="user_head">
          <a href="#user/<%= users[i].id%>">
          <img src="<%= App.util.face_url(users[i].face)%>" title="<%=users[i].name%>" alt="<%= users[i].name%>">
          </a>
          <% if(i < users.length-1 ){ %>
             <j class="join"></j>
          <% } %>
        </li>
        <%}%>
    div.pop_right
      section.pop_inner
        article.content
          <%for(var i=0; i<content.length; i++){if(content[i].text){%>
          <%= content[i].text %>
          <%}else if(content[i].image){%>
          <img src="<%=App.util.url(content[i].image)%>"/>
          <%}}%>
          <%= time.match(/\d{4}-\d{2}-\d{2}/)%>
          <%= App.util.generatePastTime(time)%>
        dl.comments.clearfix
        div.input_textarea

script(type="text/template",id="showcomment-view-template")
  div.user_head.
    <img src=<%=App.util.face_url(user.face)%> />
  dt.username.
    <a href="#user/<%=user.id%>"><%= user.uid %></a>time <%=App.util.generatePastTime(date)%>
  dd.comment_con.
    <div class="comm_link" id="<%= id %>"><%= text %>
    <div id="reply_<%=id%>" style="display:none;">
    <a href="javascript:void(0)" class="reply_comment" id="<%= id %>">回复</a>
    <% if(auth && (user.uid == auth || auth == clip_owner )){%>
    <a href="javascript:void(0)" class="del_comment" id="<%= id %>">删除</a>
    <% } %>
    </div>
    </div>
          
script(type="text/template",id="addcomm-view-template")
  |<textarea id="comm_text">评论文本框~</textarea>
  div
    input.main_tag(type="button",id="main_tag_1",value="好看")
    input.main_tag(type="button",id="main_tag_2",value="好听")
    input.main_tag(type="button",id="main_tag_3",value="好吃")
    input.main_tag(type="button",id="main_tag_4",value="好玩")
    input.main_tag(type="button",id="main_tag_5",value="酷")
  div.btn_group.clearfix
    input.verify(type="button",value="评论")
    input.cancel(type="button",value="取消")
