script(type="text/template",id="detail-view-template")
  div.masker_layer
  section.big_pop
    h2.subject_edit
      div.pop_left
        span.breadcrumbs
          |录线图
      div.pop_right.
        <% if(!App.util.self(user)) {%>
          <i class="comment operate" title="评"></i>
          <i class="refresh operate" title="转"></i>
          <i class="biezhen operate" title="收"></i>
        <% }else {%>
          <i class="del operate" title="删"></i>
          <i class="change operate" title="改"></i>
          <i class="note operate" title="注"></i>
          <i class="refresh operate" title="转"></i>	   
        <% } %>
        <span class="close_w"></span>
    div.pop_left
      ul.forward_log.
        <% for(var i =0; i<users.length; i++){%>
        <li class="user_head">
          <a href="#user/<%= users[i].id%>">
          <img src="<%= App.util.face_url(users[i].face)%>" title="<%=users[i].name%>" alt="<%= users[i].name%>">
          </a>
          <% if(i < users.length-1 ){ %>
             <j class="join"></j>
          <% } %>
        </li>
        <%}%>
    div.pop_right
      section.pop_inner
        article.content
          <%= content%>
        <%= App.util.generatePastTime(time)%>
        dl.comments.clearfix
        div.input_textarea

script(type="text/template",id="showcomment-view-template")
  <% if (text == "此内容已被删除"){ %>
  dd.comment_con.del_comm.
    <div class="comm_link" id="<%= id %>">
    <a class="marking"><% if(has_child) {%> - <%}%></a>
    <%= text %><%= App.util.generatePastTime(date)%>
    <div id="reply_<%=id%>" style="display:none;">
    <a href="javascript:void(0)" class="reply_comment" id="<%= id %>">回复</a>
    </div>
    </div>
  <% } else {%>
  div.user_head
    <a href="#user/<%=user.id%>"><img src=<%=App.util.face_url(user.face)%> /></a>
  dt.username
    <a href="#user/<%=user.id%>"><%= user.name %></a>
  dd.comment_con.
    <div class="comm_link" id="<%= id %>">
    <a class="marking"><% if(has_child) {%> - <%}%></a>
    <%= text %><%= App.util.generatePastTime(date)%>
    <div id="reply_<%=id%>" style="display:none;">
    <a href="javascript:void(0)" class="reply_comment" id="<%= id %>">回复</a>
    <% auth = App.util.getMyUid(); if(user.id == auth || auth == clip_owner){%>
    <a href="javascript:void(0)" class="del_comment" id="<%= id %>">删除</a>
    <% } %>
    </div>
    </div>
  <%}%>
          
script(type="text/template",id="addcomm-view-template")
  |<textarea id="comm_text">说点什么吧~</textarea>
  div
    <% var main_tag = App.util.getBubbs();for(var i=0;i<main_tag.length;i++){ %> 
    <span class="size48 white_48" id="main_tag_<%=i%>"><%=main_tag[i].tag%></span><% } %>
  .input_checkbox
    span
      input(type="checkbox",id="reclip_box")
      |  同时收
  div.btn_group.clearfix
    input.verify(type="button",value="评论")
    input.cancel(type="button",value="取消")
