script(type="text/template",id="detail-view-template")
  div.masker_layer
  div.masker
    a(id="focus",href="#")点
    section.big_pop
      h2.subject_edit
        div.pop_left
          span.breadcrumbs
            //|<%=_i18n('detail.route')%>
        div.pop_right.
          <% if(!App.ClipApp.isSelf(user)) {%>
            <i class="comment operate" title="<%=_i18n('detail.comment')%>"></i>
            <!--<i class="recommend operate" title="<%=_i18n('detail.recommend')%>"></i>-->
            <i class="reclip operate" title="<%=_i18n('detail.reclip')%>"></i>
          <% }else {%>
            <i class="del operate" title="<%=_i18n('detail.delete')%>"></i>
            <!--<i class="refresh operate" title="<%=_i18n('detail.recommend')%>"></i>-->	   
            <i class="modify operate" title="<%=_i18n('detail.update')%>"></i>
            <i class="note operate" title="<%=_i18n('detail.memo')%>"></i>
          <% } %>
          <% if(!(public == "false" && App.util.getMyUid() != user )){  %>
            <i class="share operate" title="<%=_i18n('detail.share')%>"></i>
          <% } %>
        <span class="close_w"></span>
      div.pop_left
        ul.forward_log.
          <% for(var i = 0; i<users.length; i++){%>
          <li class="user_head">
            <a href="#<%= users[i].id%>">
            <img src="<%= App.util.face_url(users[i].face,50)%>" title="<%=App.util.showPrefixName(users[i].name)%>" alt="<%= App.util.showPrefixName(users[i].name)%>">
            </a>
            <% if(i < users.length-1){ %>
               <div class="join"></div>
            <% } %>
          </li>
          <%}%>
      div.pop_right
        section.pop_inner
          article.content
            |&nbsp</br> 
            <%= content %>
          div.clip_utime
            span.
              <%= App.util.generatePastTime(updateTime)%>
          dl.comments.clearfix
          div.input_textarea
      div.RelatedOperation
      div.bottom

script(type="text/template",id="showcomment-view-template")
  | <div class="comment_show" id="comment_show_<%=id%>">
  div.user_head
    <a class="userhead" href="#<%=user.id%>"><img src=<%=App.util.face_url(user.face)%> /></a>
  dt
    span.username
      <a href="#<%=user.id%>"><%=App.util.showName(user.name)%> :</a>
    span.text
     <span class="comment_text"><%= text%></span>
  dd.comment_con.
    <span class="comment_time"><%= App.util.generatePastTime(date)%></span>
    <div class="comm_link" id="comment_link_<%=id%>" style="float:right;">
    <% auth = App.ClipApp.getMyUid(); if(user.id == auth || auth == cid.split(":")[0]){%>
    <span id="reply_<%=id%>_del" style="display:none; float:left;" >
    <a href="javascript:void(0)" class="del_comment" id="del_<%=id%>"><%=_i18n('showcomment.delete')%></a>&nbsp;|<% } %>
    </span>
    <span>&nbsp;<a href="javascript:void(0)" class="reply_comment" id="reply_<%=id%>"><%=_i18n('showcomment.reply')%></a></span>
    </div>
  | </div>
        
script(type="text/template",id="addcomm-view-template")
  | <img id="comm_auth" src="<%=App.util.getMyFace()%>">
  | <textarea id="comm_text"><%=_i18n('comment.defaultText')%></textarea>
  // 注释掉tag和“同时收”
    div
      <% var main_tag = App.ClipApp.getDefaultBubbs();for(var i=0;i<main_tag.length;i++){ %> 
      <input type="button" class="main_tag original" id="maintag_<%=i%>" value="<%=main_tag[i]%>" /><% } %>
    <% if(!App.ClipApp.isSelf(cid.split(":")[0])){ %>
    .input_checkbox
      span
        input(type="checkbox",id="reclip")
        |  <%=_i18n('addcomm.reclip')%>
    <% } %>
  div.
    <button class="comm_verify">
      <span/>
      <%=_i18n('comment.ok')%>
    </button>
