script(type="text/template",id="editUser-view-template")
  div.masker_layer
  div.edit_user
    section.edit_frame
      span.close_w
      div(class="left_bar")
      div(class="middle",id="email")
      div(class="middle",id="rule")
      div(class="right_bar")

script(type="text/template",id="faceEdit-view-template")
  .edit_head
    .head_img.
      <img id="myface" src="<%=App.util.face_url(face)%>"/>
    .user_name
      <% if(name && name!=""){%>
      span.name.
        <%=name%>
      <%}else{%>
      <div id="set-name">您还没有用户名</div>
      <input type="button" class="set_username" value="设置用户名"/>    
      <%}%>
  .head_link
    iframe(name="post_frame_face",id="post_frame_face",style="display:none;",mce_style="display:none;")
    |<form method="POST" action="<%=App.util.getFace_upUrl()%>" target="post_frame_face" enctype="multipart/form-data">
    .btn_frame
      button.verify(type="submit",id="confirm_face",style="display:none") 确定
      .button_frame
        span
          button.upload(type="button")	
            |上传本地图像
          |<input id="formUpload" class="hifile" type="file" name="image" onchange="return App.ClipApp.UserEdit.onUploadImgChange(this)">

script(type="text/template",id="emailEdit-view-template")
  .mail_verify.fir
    ul.mail_list
      h3
        button.add_mailbind.align-right(type="button",id="email_add",)
          span
          |增加邮箱绑定 	
        |邮箱识别
      |<% if(email){ for(i=0;i<email.length;i++) { if(email[i]){ %>
      |<li class="mail_line">
      |<span class="email_address" id="<%=email[i]%>"></span>
      |<%=email[i]%>
      |</li><% }} }%>
  
script(type="text/template",id="ruleEdit-view-template")
  .mail_verify.sec
    ul.mail_list
      h3
        span.open_mailcheck
          input(type="checkbox",id="open_rule")
          label(for="open_rule")|打开邮箱识别
        |邮箱识别
      li
        label 标题必须有
        |<input type="text" class="text_input" id="title" value="<%=title%>"/>
      li
        label 必须抄送给
        |<input type="text" class="text_input" id="copy-to" value="<%=cc?cc.join(';'):''%>" />
      li
        label 必须发给
        |<input type="text" class="text_input" id="send" value="<%=to?to.join(';'):''%>" />
      li
        input.btn_blue(type="submit",id="update_rule",value="更新邮件规则")

script(type="text/template",id="passEdit-view-template")
  h3.edit_password 修改密码
  ul.input_list
    li
      |<input type="text" id="new" value="<%=newpass%>"/>
      input(type="password",id="new_pass",style="display:none;")
      li.alert#pass(style="display:none")	
        <%= typeof error != "undefined"&& error.pass ? error.pass: "" %>
    li
      |<input type="text" id="con" value="<%=confirm%>"/>
      input(type="password",id="con_pass",style="display:none;")
      li.alert#confirm(style="display:none")
        <%= typeof error != "undefined"&& error.confirm ? error.confirm: "" %>
    li
      input.btn_blue(type="submit",id="pass_confirm",value="更改")
  h3.danger 高危操作
  ul.input_list
    li.btn_line
      input.btn_blue(type="submit",value="导出摘录")
    li
      input.btn_gray(type="submit",value="删除账户")
script(type="text/template",id="emailAdd-view-template")
  div.masker_layer
  section.small_pop
    span.close_w
    .email_add
      h2
        添加邮件
      ul.pop_body
        li.input_text
          input(type="text",id="email_address")
        li.alert#alert
          <%= typeof error != "undefined" && error ? error.email : "" %>
        br
        li.btn_group.clearfix
          input.verify(type="button",value="确定",id="emailadd_commit")
          input.cancel(type="button",value="取消",id="emailadd_cancel")
script(type="text/template",id="message-view-template")
  div.masker_layer
  section.small_pop
    h2
      消息提示
    ul.pop_body
      |<%=message%>
      br
      br
      li.btn_group.clearfix
        input.verify(type="button",value="确定",id="sure")
        input.cancel(type="button",value="取消",id="cancel")