script(type="text/template",id="editDetail-view-template")
  div.masker_layer
  div.masker
    section.big_pop
      h2.subject_edit
        div.pop_right
          div.button_frame
            iframe(name="post_frame",id="post_frame")
            |<form method="POST" id="img_form" action="<%= App.ClipApp.img_upUrl()%>" target="upload_target" enctype="multipart/form-data">
            |<span class="file">
            |<button class="upload_img" id="localImg" title="<%=_i18n('addClip.upload')%>"></button>
            |<input id="formUpload" class="hifile" type="file" title="<%=_i18n('addClip.upload')%>" name="image" onchange="return App.ClipApp.ClipEdit.image_change(this)"/>
            |</span>
            |</form>
            div.masker_layer1
            span#link_image
              | <button class="link_img" title="<%=_i18n('editDetail.link')%>"></button>
              span.url_text.img_upload_span
                input.text#img_upload_url(type="text")
                | <input type="submit" class="btn_img" value="<%=_i18n('editDetail.ok')%>" />
            span.close_w
              //- ie-7无空格 右上角关闭按钮不显示
              |&nbsp&nbsp&nbsp&nbsp&nbsp
          //- 文字位置不能改，否则ie-7 窗口最上边一排按钮位置不对
          | <%=_i18n('editDetail.update')%>
      div.pop_left
        ul.forward_log.
          <% for(var i =0; i<users.length; i++){%>
          <li class="user_head">
            <a href="#<%= users[i].id%>">
            <img src="<%= App.util.face_url(users[i].face)%>" title="<%=users[i].name%>" alt="<%= users[i].name%>">
            </a>
            <% if(i < users.length-1 ){ %>
               <div class="join"></div>
            <% } %>
          </li>
          <%}%>
      div.pop_right
        section.pop_inner
          //- css 中设置iframe无边框在ie8- 中不起作用
          form#editForm(metod="post")
            article.content.content_new
              iframe#editor(frameborder="no",border="0")
            article.settags
            div.btn_group.clearfix.
              <input id="editClip_Save" class="verify" type="button" title="<%=_i18n('editDetail.ok_title')%>" value="<%=_i18n('editDetail.ok')%>" />
              <input id="editClip_Abandon" class="cancel" type="reset" title="<%=_i18n('editDetail.cancel_title')%>" value="<%=_i18n('editDetail.cancel')%>" />
    div.bottom