script(type="text/template",id="editUser-view-template")
  div.masker_layer
  div.edit_user
    section.edit_frame
      span.close_w
      div(class="left_bar")
      div(class="middle",id="rule")
      div(class="middle",id="email")
      div(class="middle",id="weibo")
      div(class="middle",id="twitter")
      div(class="right_bar")

script(type="text/template",id="faceEdit-view-template")
  .edit_head
    .head_img#head_img.
      <img id="myface" src="<%=App.util.face_url(face)%>" />
    .user_name
      <% if(name && name!=""){%>
      <span class="name"><%=name%></span>
      <% }else{%>
      <span id="set-name" class="name"><%=_i18n('faceEdit.no_name')%></span>
      <input type="text" class="set_username" name="name" id="name" style="display:none;">
      <input type="button" class="edit_name" value="<%=_i18n('faceEdit.set_name')%>"/>
      <%}%>
  .head_link
    iframe(name="post_frame_face",id="post_frame_face")
    | <form method="POST" id="face_form" action="<%=App.util.getFace_upUrl()%>" target="post_frame_face" enctype="multipart/form-data">
    | <div class="btn_frame">
    | <button class="verify" type="submit" id="confirm_face"><%=_i18n('faceEdit.ok')%></button>
    | <div class="button_frame">
    | <span>
    | <button class="upload"><%=_i18n('faceEdit.upload')%></button>
    | <input id="formUpload" class="hifile" type="file" name="image" onchange="return App.ClipApp.UserEdit.onUploadImgChange(this)">
    | </span>
    | </div>
    | </div>
    | </form>
  .language
    h3
      | <%=_i18n('languageSet.lang')%>
    div.delang.
      <% var defaultLang = App.versions.getLanguage();
         var langs = App.versions.language;%>
      <span class="<%=defaultLang%>"><%=langs[defaultLang]?langs[defaultLang]:langs['zh']%></span>    <span>▼</span>
    div#show_language.
      <%for(var lang in langs){ %>
      <li class="lang-list" id="<%=lang%>"><%=langs[lang]%></li>
      <% } %>
  .preview.
    <img id="preview_size_fake" />

script(type="text/template",id="emailEdit-view-template")
  .mail_verify.fir
    ul.mail_list
      h3
        button.add_mailbind.align-right(type="button",id="email_add",)
          span
          |<%=_i18n('emailEdit.add')%> 	
        |<%=_i18n('emailEdit.title')%>
      |<% if(email){ for(i=0;i<email.length;i++) { if(email[i]){ %>
      |<li class="mail_line">
      |<span class="email_address" id="<%=email[i]%>"></span>
      |<%=email[i]%>
      |</li><% }} }%>
  
script(type="text/template",id="ruleEdit-view-template")
  .mail_verify.fir
    ul.mail_list
      h3
        span.open_mailcheck
          |<input type="checkbox" id="open_rule" name="enable" <% if(enable){ %> checked="checked" <%}%> />
          label(for="open_rule")|<%=_i18n('ruleEdit.open_rule')%>
        |<%=_i18n('ruleEdit.head')%>
      li
        label <%=_i18n('ruleEdit.title')%>
        |<input type="text" class="text_input" name="title" id="title" value="<%=title%>"/>
      li
        label <%=_i18n('ruleEdit.cc_text')%>
        |<input type="text" class="text_input" name="cc" id="cc" value="<%=cc?cc.join(';'):''%>" />
      li
        label <%=_i18n('ruleEdit.to_text')%>
        |<input type="text" class="text_input" name="to" id="to" value="<%=to?to.join(';'):''%>" />
      li.
        <input type="submit" class="btn_blue" id="update_rule" value="<%=_i18n('ruleEdit.update')%>" />

script(type="text/template",id="passEdit-view-template")
  h3.edit_password <%=_i18n('passEdit.title')%>
  ul.input_list
    li
      |<input type="text" id="newpass" value="<%=_i18n('passEdit.newpass.prompt')%>"/>
      input(type="password",id="pass",name="newpass",style="display:none;")
    li
      |<input type="text" id="conpass" value="<%=_i18n('passEdit.conpass.prompt')%>"/>
      input(type="password",id="confirm",name="confirm",style="display:none;")
    li.
      <input type="submit" class="btn_blue" id="pass_confirm" value="<%=_i18n('passEdit.update')%>" />
  h3.danger <%=_i18n('passEdit.danger_operate')%>
  ul.input_list
    li.btn_line.
      <input type="submit" class="btn_blue" value="<%=_i18n('passEdit.export')%>" />
    li.
      <input type="submit" class="btn_gray" value="<%=_i18n('passEdit.delete')%>" />

script(type="text/template",id="emailAdd-view-template")
  div.masker_layer
  section.small_pop
    span.close_w
    .email_add
      h2
        <%=_i18n('emailAdd.title')%>
      ul.pop_body
          li.input_text.
            <input type="text" name="email" id="email" value="<%=email%>" />
          li.btn_group.clearfix.
            <input type="button" class="verify" value="<%=_i18n('emailAdd.ok')%>" id="emailadd_commit" />
            <input type="button" class="cancel" value="<%=_i18n('emailAdd.cancel')%>" id="emailadd_cancel" />


script(type="text/template",id="weiboEdit-view-template")
  .mail_verify.sec
    ul.mail_list
      h3
        button.add_mailbind.align-right(type="button",id="info_add",)
          span
          |<%=_i18n('weiboEdit.add')%> 	
        |<%=_i18n('weiboEdit.title')%>
      |<% if(info){ for(i=0;i<info.length;i++) { if(info[i]){ %>
      |<li class="oauth_li">
      |<a href="<%=info[i].url%>" target="_blank"><apan class="info_face" id=""><img src="<%=info[i].face%>"></img></span></a>
      |<span class="info_name" id="<%=info[i].uid%>"></span>
      |<a href="<%=info[i].url%>" target="_blank"><apan id="name_<%=info[i].uid%>" ><%=info[i].name%></span></a>
      |</li><% }} }%>
script(type="text/template",id="twitterEdit-view-template")
  .mail_verify.sec
    ul.mail_list
      h3
        button.add_mailbind.align-right(type="button",id="info_add",)
          span
          |<%=_i18n('twitterEdit.add')%> 	
        |<%=_i18n('twitterEdit.title')%>
      |<% if(info){ for(i=0;i<info.length;i++) { if(info[i]){ %>
      |<li class="oauth_li">
      |<a href="<%=info[i].url%>" target="_blank"><apan class="info_face" id=""><img src="<%=info[i].face%>"></img></span></a>
      |<span class="info_name" id="<%=info[i].uid%>"></span>
      |<a href="<%=info[i].url%>" target="_blank"><apan id="name_<%=info[i].uid%>" ><%=info[i].name%></span></a>
      |</li><% }} }%>


