<script type="text/template" id="editUser-view-template">
  <div id="editUser">
    <a id="popup_ContactClose">X</a>   
    <div id="userFace">
      <img id="myface-image" src="<%=App.util.face_url(face)%>" height="240" width="240"/>
    </div>
    <div id="user-name">
      <%=name%>
      <input type="button" id="resetUsername" value="修改用户名"/>
    </div>
    <div id="faceUploadDiv"></div>
    <div id="setface">
      <iframe name="post_frame" id="post_frame" style="display:none;" mce_style="display:none;"></iframe> 
      <form method="POST" action="<%=actUrl%>" target="post_frame" enctype="multipart/form-data">
	<span class="file">
	  <input type="button" class="btn" id="localImg" value="选择本地头像">
	  <input id="formUpload" class="hifile" type="file" name="image" onchange="return App.ClipApp.UserEdit.image_change()">
	</span>
	  <input type="submit" id="confirm" value="上传">  
      </form>
    </div>
  </div>
</script>
