script(type="text/template",id="editDetail-view-template")
  div.masker_layer
  section.big_pop
    h2.subject_edit
      div.pop_left
        i.note
      div.pop_right
        div.button_frame
          iframe(name="post_frame",id="post_frame",style="display:none;",mce_style="display:none;")
          |<form method="POST" id="img_form" action="<%=actUrl%>" target="post_frame" enctype="multipart/form-data">
          |<span class="file">
          |<button class="upload_img" id="localImg">上传图片</button>
          |<input id="formUpload" class="hifile" type="file" name="image" onchange="return App.ClipApp.ClipEdit.image_change(this)"/>
          |</span>
          |</form>
          span
            button.link_img 链接图片
            span.url_text.img_upload_span(style="display:none;")
              input.text#img_upload_url(type="text")
              input.btn(type="submit",value="确定")
          span
            button.format 整理格式
          span.close_w
        | 改
    div.pop_left
    div.pop_right
      section.pop_inner
        form#editForm(metod="post")
          article.content.content2
            iframe#editor(width="100%",height="100%",frameborder="0" )
          div.btn_group.clearfix
            input#editClip_Save.verify(type="button",title="保存",value="确定")
            input#editClip_Abandon.cancel(type="reset",title="放弃",value="取消")