script(type="text/template",id="editDetail-view-template")
  div.masker_layer
  section.big_pop
    h2.subject_edit
      div.pop_left
        i.note
      div.pop_right
        div.button_frame
          iframe(name="post_frame",id="post_frame")
          |<form method="POST" id="img_form" action="<%= App.util.getImg_upUrl()%>" target="post_frame" enctype="multipart/form-data">
          |<span class="file">
          |<button class="upload_img" id="localImg"><%=_i18n('editDetail.upload')%></button>
          |<input id="formUpload" class="hifile" type="file" name="image" onchange="return App.ClipApp.ClipEdit.image_change(this)"/>
          |</span>
          |</form>
          span
            button.link_img <%=_i18n('editDetail.link')%>
            span.url_text.img_upload_span
              input.text#img_upload_url(type="text")
              | <input type="buttn" class="btn_img" value="<%=_i18n('editDetail.ok')%>" />
          span
            button.format <%=_i18n('editDetail.clear')%>
          span.close_w
            |&nbsp&nbsp&nbsp&nbsp&nbsp
        | <%=_i18n('editDetail.update')%>
    div.pop_left
    div.pop_right
      section.pop_inner
        //- css 中设置iframe无边框在ie8- 中不起作用
        form#editForm(metod="post")
          article.content.content_new
            iframe#editor(frameborder="no",border="0")
          div.btn_group.clearfix.
            <input id="editClip_Save" class="verify" type="button" title="<%=_i18n('editDetail.ok_title')%>" value="<%=_i18n('editDetail.ok')%>" />
            <input id="editClip_Abandon" class="cancel" type="reset" title="<%=_i18n('editDetail.cancel_title')%>" value="<%=_i18n('editDetail.cancel')%>" />