<script type="text/template" id="emailAdd-view-template">
<div align="center"  class="emailadd_edit" style="width:300px;height:250px;background:yellow; ">
   <a id="popup_ContactClose">X</a>
   <div id="email_add">
    <br/><br/> <lable>添加邮件</label><br>
    <input type="text" name="email_address" id="email_address" size="30"/><br>
    <span class="error"><%= typeof error != "undefined" && error.email ? error.email : "" %></span><br/><br/><br/>
    <input type="button" id="emailadd_commit" value="提交"/>
    <input type="button" id="emailadd_cancel" value="取消"/>
   </div>
</div>
</script>
