<script type="text/template" id="emailEdit-view-template">
<br/><br/>  <label>邮件载录</label><br/><br/>
      <div>
	<label>邮箱识别</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="增加邮箱绑定" id="add_email"/>
<% if(email){ for(i=0;i<email.length;i++) { if(email[i]){ %>
	<div class="email_<%=i%>" style="width:300px;height:30px;">
	  <span id="<%=i%>"><%=email[i]%></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="-" class="email_cut" id="email_<%=i%>">
	</div>
<% }} }%>
      </div><br/><br/>
</script>
