<script type='text/template' id='findpass-view-template'>
  <form>
    <div align="center" style="position:relative;left:500px;top:50px;width:300px;height:150px;background:pink;z-index:400;display:block; ">
      找回密码前，请输入你的登录邮箱地址
      <br/>
      <br/>
      <label>邮箱地址：</label>
      <input type="text" size="12" id="address"/>
      <sapn class="action-info name"><%= typeof error != "undefined"&& error.address ? error.address: "" %></span>
      <br/> 
      <br/>
      <input type="submit"  value="提交"/>
      <input type="reset"  value="取消"/> 
    </div>
  </form>
</script>
