<script type='text/template' id='findpass-view-template'>
  <div class="masker_layer"></div>
  <section class="small_pop">
    <h2 class="pop_title">找回密码</h2>
    <br/>
    <ul class="pop_body">
      <h3 class="subject_put">邮箱地址</h3>
     <li class="input_text clearfix">
       <input type="text" id="address"/>
       <sapn class=""><%= typeof error != "undefined"&& error.address ? error.address: "" %></span>
     </li>
     <br/>
     <li class="btn_group" clearfix>
       <input type="button" value="确定" class="verify" id="submit"/>
       <input type="button" value="取消" class="cancel" id="cancel"/> 
     </li>
    </ul>
  </section>
</script>
