script(type="text/template",id="follow-view-template")
  section.follow_frame 
    ul.tab_frame
      li(class="tab",id="follower")<%if(App.util.getMyUid()==App.ClipApp.Face.getUserId()){%><%=_i18n('follower.mfollower')%><%}else{%><%=_i18n('follower.follower')%><%}%>
      li(id="following")<%if(App.util.getMyUid()==App.ClipApp.Face.getUserId()){%><%=_i18n('follower.mfollowing')%><%}else{%><%=_i18n('follower.following')%><%}%>
    ul.empty_user
      div.msg
        p <%=_i18n('follower.p')%>
script(type="text/template",id="follower-view-template")
  section.follow_frame
    ul.user_list
      li.user
        div.tag_line.tag_box
          span.size48.blue_48
            | <%if(tag== "*"){%> <a href="#user/<%=App.ClipApp.Face.getUserId()%>"><%=_i18n('follower.all')%><%}else{%><a href="#user/<%=App.ClipApp.Face.getUserId()%>/tag/<%=tag%>"><%=tag%><%}%></a>	
        div.tags
          div.box
            div.items
              | <% for(var i=0; i<user.length; i++){%>
              | <a href="#user/<%=user[i].id%>"><span class="heads" title="<%=user[i].name%>">
              | <img src="<%=App.util.face_url(user[i].face,50)%>" />
              | </span></a><%}%>
              //i.follow