script(type="text/template",id="following-top-view-template")
  section.follow_frame
    ul.tab_frame
      li(id="follower") 追我的人
      li.tab(id="following") 我追的人
    ul.empty_user
      div.msg
        p 你还没有追任何人哟
script(type="text/template",id="following-view-template")
  section.follow_frame
    ul.user_list
      li.user
        div.head
          | <a href="#user/<%=id%>">
          | <img src="<%=App.util.face_url(face)%>"/>
          | </a>
          p
            | <a href="#user/<%=id%>"><%=name%></a>
        div.tags.tag_box
          <%for(var i=0;i<tag.length;i++){%>
          span.size48.blue_48
            | <%if(tag[i]== "*"){%><a href="#user/<%=id%>">所有<%}else{%><a href="#user/<%=id%>/tag/<%=tag[i]%>"><%=tag[i]%><%}%></a>
          <%}%>