script(type='text/template',id='gotosetup-view-template')
  div.masker_layer
  section.login_window
    header
      .logo
      div.login_right
    footer
      div.text_con
        <%= text %>
        div.btn_frame.
          <input class="login_btn" type="submit" value="<%=_i18n('gotosetup.ok')%>"/>