<script type="text/template" id="login-view-template">
<form>
<div align="center">
  <lable>登录</label><br>
  <input type="text" name="<%= name %>" value="" id="name" size="30"/>
  <span class="error"><%= typeof error != "undefined" && error.name ? error.name : "" %></span>
  <br/>
  <input type="password" name="<%= pass %>" value="" id="pass" size="30"/>
  <span class="error"><%= typeof error != "undefined" && error.pass ? error.pass : "" %></span>
  <br/>
  忘记密码？<a href = "" >点这里重置</a><br>
  <input type="submit" value="登陆"/>
  <input type="reset" value="取消"/>
</div>
</form>
</script>
