script(type='text/template',id='me-view-template')
  <% if (App.util.getMyUid()) { %>
  nav
    span.my
      //- .navigate#my
      a(href="javascript:void(0)") 我的
      //- i 123
    span.at_me
      //- .navigate#at_me
      a(href="javascript:void(0)") @我
      //- i 234
    span.expert
      //- .navigate#expert
      a(href="javascript:void(0)") 砖家
      //- i 234
  div.my_info
    div#show_mysetup
      ul.action
        li.set
          a(href="javascript:void(0)",id="mysetup") 设置
        li.logout
          a(href="javascript:void(0)",id="logout") 登出
    div.my_head.
      <img class="face-image" id="smail_face" src="<%=App.util.face_url(face,50)%>"/>
  <% } else { %>
  div.in_site
    a#register_button 注册 
    |
    a#login_button 登陆
  <% } %>