script(type='text/template',id='me-view-template')
  <% if (App.util.getMyUid()) { %>
  nav
    span.my
      //- .navigate#my
      a(href="javascript:void(0)") <%=_i18n('me.mine')%>
      //- i 123
    span.at_me
      //- .navigate#at_me
      a(href="javascript:void(0)") <%=_i18n('me.recommend')%>
      //- i 234
    span.expert
      //- .navigate#expert
      a(href="javascript:void(0)") <%=_i18n('me.interest')%>
      //- i 234
  div.my_info
    div#show_mysetup
      ul.action
        li.set
          a(href="javascript:void(0)",id="mysetup") <%=_i18n('me.set')%>
        li.logout
          a(href="javascript:void(0)",id="logout") <%=_i18n('me.logout')%>
    div.my_head.
      <img class="face-image" id="smail_face" src="<%=App.util.face_url(face,50)%>"/>
  <% } else { %>
  div.in_site
    div.language
      div.delang.
        <% var defaultLang = App.versions.getLang();
           var langs = App.versions.language;%>
        <span class="<%=defaultLang%>"><%=langs[defaultLang]?langs[defaultLang]:langs['zh']%></span>    <span>▼</span>
      div#show_language.
        <%for(var lang in langs){ %>
        <li class="lang-list" id="<%=lang%>"><%=langs[lang]%></li>
        <% } %>
    div.log
      a#register_button <%=_i18n('me.register')%> 
      |
      a#login_button <%=_i18n('me.login')%>
  <% } %>