 <script type="text/template" id="obj_tag_template">
      <div  id="obj_tag_Div" align="center">
	<input type="button" class="obj_tag" id="obj_tag_1" value="电影"/>
        <input type="button" class="obj_tag" id="obj_tag_2" value="娱乐"/>
        <input type="button" class="obj_tag" id="obj_tag_3" value="台湾"/>
        <input type="button" class="obj_tag" id="obj_tag_4" value="大陆"/>
        <input type="button" class="obj_tag" id="obj_tag_5" value="欧美"/>
        <input type="button" class="obj_tag" id="obj_tag_6" value="音乐"/>
      </div>
 </script>
