script(type="text/template",id="queryclip-view-template")
  div.select
    b.add
    b.more
    ul.options
      li.copy
        a(href="#clip/72/20") copy
      li.bookmark
        a(href="#clip/72/19") bookmark
      li.email
        a(href="#clip/72/18") email
      li.weibo
        a(href="#clip/72/17") weibo
      li.twitter
        a(href="#clip/72/16") twitter
  div#query.input
    input.text#input_keyword(type="text")
    input.search_btn#query_button(type="button")
    //-input.text(type="text")
    //-input.search_btn(type="submit",value="")
    //-a#addClip +