script(type="text/template",id="queryclip-view-template")
  div.select
    b.add
    b.more
    ul.options
      li.bookmark
        a(href="") bookmark
      li.addons
        a(href="") addons
      li.email
        a(href="") email
      li.iphone
        a(href="") iphone
      li.andriod
        a(href="") andriod
  div#query.input
    input.text#input_keyword(type="text")
    input.search_btn#query_button(type="button")
    //-input.text(type="text")
    //-input.search_btn(type="submit",value="")
    //-a#addClip +