script(type="text/template",id="reclip-view-template")
  div.masker_layer
  section.small_pop
    span.close_w
    h2.subject_put <%=_i18n('reclip.title')%>
    ul.pop_body
      li.tag_box.
        <% var main_tag = App.util.getBubbs();for(var i=0;i<main_tag.length;i++){ %> 
        <span class="size48 white_48" id="main_tag_<%=i%>"><%=main_tag[i]%></span><% } %>
      li
        text.obj_tag(type="text",id="obj_tag")
      br
      li.input_textarea
        |<textarea id="reclip_text"><%=_i18n('reclip.defaultNote')%></textarea>
      li.input_checkbox
        label
          input(type="checkbox",id="checkbox")
          | <%=_i18n('reclip.private')%>
      li.btn_group.clearfix.
        <input type="button" class="verify" value="<%=_i18n('reclip.ok')%>" id="submit" />
        <input type="button" class="cancel" value="<%=_i18n('reclip.cancel')%>" id="cancel" />


script(type="text/template",id="reclipTag-view-template")
  div.masker_layer
  section.small_pop
    span.close_w
    h2.subject_put.
      <% if(count){ %>
      <%=_i18n('reclipTag.title', count)%>
      <% }  %>
    ul.pop_body
      li.tag_box.
        <% var main_tag = App.util.getBubbs();for(var i=0;i<main_tag.length;i++){ %> 
        <span class="size48 white_48" id="main_tag_<%=i%>"><%=main_tag[i]%></span><% } %>
      li
        text.obj_tag(type="text",id="obj_tag")
      br
      li.input_textarea
        |<textarea id="reclip_text"><%=_i18n('reclipTag.defaultNote')%></textarea>
      li.input_checkbox
        label
          input(type="checkbox",id="checkbox")
          | <%=_i18n('reclipTag.private')%>
      li.btn_group.clearfix.
        <input type="button" class="verify" value="<%=_i18n('reclipTag.ok')%>" id="submit" />
        <input type="button" class="cancel" value="<%=_i18n('reclipTag.cancel')%>" id="cancel" />