<script type="text/template" id="reclip-view-template">
  <div align="center"  style="position:relative;left:500px;top:50px;width:400px;height:300px;background:yellow;z-index:400;display:block; ">
    <label>收</label><br>
    <input type="button" class="main_tag" id="main_tag_1" value="好看" />
    <input type="button" class="main_tag" id="main_tag_2" value="好听" />
    <input type="button" class="main_tag" id="main_tag_3" value="好吃" />
    <input type="button" class="main_tag" id="main_tag_4" value="好玩" />
    <input type="button" class="main_tag" id="main_tag_5" value="酷" />
    <input id="obj_tag" type="text" class="obj_tags" value="add a tag"><br>
    <textarea  id="reclip_text" rows="3" cols="40" >备注一下吧~</textarea><br>
    <input type="checkbox" name="checkbox" id="checkbox" align="right"/>
    <label for="checkbox">不公开</label><br>
    <input type="button" value="确定" id="submit_button"/>
    <input type="button" value="取消" id="cancel_button"/><br>
    <span class="error"><%= typeof error != "undefined" && error ? error : "" %></span>   
    <!-- textarea  id="tag" rows="1" cols="40" /><br -->
  </div>
</script>
