script(type="text/template",id="recommend-view-template")
  div.masker_layer
  section.small_pop
    span.close_w
    h2.subject_forward 转
    ul.pop_body
      li.select_user.clearfix
        div.user_small_head#user_image
          img(id="imgId",src="photos/user_head.jpg")
        input(type="text",id="name")
      li.alert#alert
        <%= typeof error != "undefined"&& error.user ? error.user: "" %>
      div#name_listDiv
      li.input_textarea
        |<textarea id="recommend_text">说点啥吧～</textarea>
      li.input_checkbox
        label
          input(type="checkbox",id="reclip_box")
          | 同时收
      li.btn_group.clearfix
        input.verify(type="button",value="确定",id="submit")
        input.cancel(type="button",value="取消",id="cancel")
