script(type="text/template",id="recommend-view-template")
  div.masker_layer
    section.small_pop
      span.close_w
      h2.subject_forward <%=_i18n('recommend.title')%>
      ul.pop_body
        li.select_user.clearfix
          div.container
            div.user_small_head#user_image
              img(id="imgId")
            input(type="text",id="recomm_name",name="name")
        div.name_list#name_listDiv
        li.input_textarea
          |<textarea id="recomm_text" name="text"><%=_i18n('recommend.defaultText')%></textarea>
        // 注释
          <% if(!App.util.self(clipid.split(":")[0])) {%>
          li.input_checkbox
            label
              input(type="checkbox",id="reclip_box")
              | &nbsp;<%=_i18n('recommend.reclip')%>
          <%}%>
        li.btn_group.clearfix.
          <input type="button" class="verify" value="<%=_i18n('recommend.ok')%>" id="submit" />
          <input type="button" class="cancel" value="<%=_i18n('recommend.cancel')%>" id="cancel" />

script(type="text/template",id="namelist-view-template")
  | <span class="user_list_head"><img src="<%=App.util.face_url(face)%>"></img></span>&nbsp;&nbsp;
  | <span class="name-li" id="<%=name%>_<%=id%>" title="<%=face%>"><%=name%></span>
