<script type="text/template" id="recommend-view-template">
  <div class="masker_layer"></div>
  <section class="small_pop">  
    <h2 class="subject_forward">转</h2>
    <ul class="pop_body">
      <li class="select_user clearfix">
	<div class="user_small_head" id="user_image">
	  <img id="imgId" width="30" height="35"></img>
	</div>
      </li>
      <li id="inputname" class="input_text">
	<input type="text" id="name"/>
	<span><%= typeof error != "undefined" && error.user ? error.user : "" %></span>
      </li>
      <br>
      <div id="name_listDiv" ></div>
      <li class="input_textarea">
	<textarea id="recommend_text" rows="3" cols="40">说点啥吧～</textarea>
      </li>
      <li class="input_checkbox">
	<label><input type="checkbox">同时收</label>
      </li>
      <li class="btn_group clearfix">
	<input type="button" value="确定" class="verify" id="recomm_button"/>
	<input type="button" value="取消" class="cancel" id="cancel_button"/>
      </li> 
  </section>
 </script>
