<script type='text/template' id='register-view-template'>
  <form>
    <label>用户名:</label>
    <input type="text" size="12" id="username_r"/>
    <sapn class="action-info name"><%= typeof error != "undefined" && error.name ? error.name : "" %></span>
    <br/>
    <br/>
    <label>密&nbsp;&nbsp;码:</label>
    <input type="passward" size="12" id="password_r"/>
    <span class="action-info pass"><%= typeof error != "undefined" && error.name ? error.name : "" %></span>
    <br/>
    <input id="submit" type="button" value="注册" />
    <input id="reset" type="button" value="取消" />
 </form>
</script>
