<!-- comment template -->
<script type="text/template" id="replycomm-view-template">
    <textarea  id="comm_text" rows="3" cols="30" >说点什么吧~</textarea><br>
    <input type="button" class="main_tag" id="main_tag_1" value="好看" />
    <input type="button" class="main_tag" id="main_tag_2" value="好听" />
    <input type="button" class="main_tag" id="main_tag_3" value="好吃" />
    <input type="button" class="main_tag" id="main_tag_4" value="好玩" />
    <input type="button" class="main_tag" id="main_tag_5" value="酷" /><br>
    <input type="checkbox" name="collect" id="reply"/>
    <label for="reply">同时收</label>
    <input type="button" value="确定" id="ok_button"/>
  </div>
</script>
    
    
