<script type='text/template' id='resetpass-view-template'>
  <div class="masker_layer"></div>
  <section class="small_pop">
    <h2 class="pop_title">设置新密码</h2> 
    <br/>
    <ul class="pop_body">
      <h4 class="subject_put">密码：</h4>
      <li class="input_text clearfix">
	<input type="text" id="pass1"/>
	<sapn class=""><%= typeof error != "undefined"&& error.error ? error.error: "" %></span>
      </li>
      <br/> 
      <h4 class="subject_put">密码：</h4>
      <li class="input_text clearfix">
      <input type="text" id="pass2"/>
      <sapn class=""><%= typeof error != "undefined"&& error.error ? error.error: "" %></span>
      </li>
      <br/>
      <li class="btn_group clearfix">
       <input type="button" value="提交" class="verify" id="submit"/>
       <input type="button" value="重置" class="cancel" id="reset"/> 
     </li>
    </ul>
  </section>
</script>
