<script type="text/template" id="ruleEdit-view-template">
  <div>
    <label>邮件识别</label>&nbsp;&nbsp;&nbsp;
    <input type="checkbox" name="open_rule" id="open_rule"/>
    <label for="open_rule">打开邮件识别</label><br><br>
    <div>
      <label>标题必须有:&nbsp;<input type="text" class="rule_text" disabled id="title" value="<%=title?title:''%>" />
    </div>
    <div>
      <label>&nbsp;&nbsp;必须抄送:&nbsp;<input type="text" class="rule_text" disabled id="copy-to" value="<%=to?to.join(','):''%>" />
    </div>
    <div>
      <label>&nbsp;&nbsp;必须发给:&nbsp;<input type="text" class="rule_text" disabled  id="send" value="<%=cc?cc.join(','):''%>" />
    </div>
  </div><br/>
  <input type="button" value="更新邮件规则" id="update_rule"/>
</script>
