script(type='text/template',id='userface-view-template')
  div.user_info
    div.user_head.
      <a class="user_list">
        <img class="face-image" id="big_face"  src="<%=App.util.face_url(face)%>"/>
      </a>
      <% if(id&&App.util.getMyUid() !=id){ %>
      <% if(_.isEmpty(relation)){ %>
      <b class="user_i" style="display:none;"><i class="stop" /></b>
      <% }else{ %>
      <b class="user_i" style="display:none;"><i class="zhui" /></b>
      <% }} %>	
    dl.user_detail.clearfix
      dt.
        <a class="user_list">
          <%if(name){%>
          <%=name%>
          <%} else {%>
          <%}%>
        </a>
      dd.clearfix
        span.icons_frame
          span.icon_block
            //-i.icon_biezhen
            div.
              <a class="following">
                我追谁(<%=following%>)
              </a> 
          span.icon_block
            //-i.icon_quote
            div.
              <a class="follower">
                谁追我(<%=follower%>)
              </a>
