script(type='text/template',id='userface-view-template')
  div.user_info
    div.user_head.
      <a class="user_list">
        <img id="face-image" src="<%=App.util.face_url(face)%>" height="20" width="20"/>
      </a>
      <% if(App.util.getMyUid() !=id){ %>
      <% if(_.isEmpty(relation)){ %>
      <b class="user_i"><i class="stop" /></b>
      <% }else{ %>
      <b class="user_i"><i class="zhui" /></b>
      <% }} %>	
    dl.user_detail.clearfix
      dt.
        <a class="user_list">
          <%=name%>
        </a>
      dd.clearfix
        span.icons_frame
          span.icon_block
            //-i.icon_biezhen
            div.
              <a href="#user/<%=id%>/following">
                我追谁(<%=following%>)
              </a> 
          span.icon_block
            //-i.icon_quote
            div.
              <a href="#user/<%=id%>/follower">
                谁追我(<%=follower%>)
              </a>
