script(type='text/template',id='userface-view-template')
  div.user_info#user_info
    div.user_head#user_head.
      <a class="user_list">
        <img class="face-image" id="big_face"  src="<%=App.util.face_url(face)%>"/>
      </a>
      <% if(id&&App.util.getMyUid() !=id){ %>
      <% if(_.isEmpty(relation)){ %>
      <b class="user_i" style="display:none;"><i class="<%=_i18n('userface.zhui')%>" id="user_zhui" /></b>
      <% }else{ %>
      <b class="user_i" style="display:none;"><i class="<%=_i18n('userface.stop')%>" id="user_stop" /></b>
      <% }} %>	
    dl.user_detail.clearfix
      dt.
        <a class="user_list">
          <%if(name){%>
          <%=name%>
          <%} else {%>
          <%}%>
        </a>
      dd.clearfix
        span.icons_frame
          span.icon_follow
            //-i.icon_biezhen
            div.
              <a class="following">
                <% if(id == App.util.getMyUid()){%>
                <%=_i18n('userface.mfollowing')%>(<%=following%>)<% }else{ %>
                <%=_i18n('userface.following')%>(<%=following%>)
                <% } %>
              </a> 
          span.icon_block
            //-i.icon_quote
            div.
              <a class="follower">
                <% if(id == App.util.getMyUid()){%>
                <%=_i18n('userface.mfollow')%>(<%=follower%>)<% }else{ %>
                <%=_i18n('userface.follow')%>(<%=follower%>)
                <% } %>
              </a>
